{% extends 'portal/base.html' %}

{% load static %}

{% block title %}
About
{% endblock %}

{% block content_header %}
About JASPAR
{% endblock %}

{% block breadcrumb %}
  <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
  <li class="active">About</li>
{% endblock %}

{% block content %}

    <div class="row">

      <div class="col-md-12 col-lg-12 col-xs-12">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">What is JASPAR?</h3>
            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fas fa-times"></i></button>
            </div>
          </div>
          <div class="box-body">

            <p>JASPAR is a regularly maintained open-access database storing
              manually curated transcription factors (TF) binding profiles as
              position frequency matrices (PFMs). PFMs summarize occurrences of
              each nucleotide at each position in a set of observed TF-DNA
              interactions. PFMs can be transformed to probabilistic or energistic
              models to construct position weight matrices (PWMs) or
              position-specific scoring matrices (PSSMs), which can be used to
              scan any DNA sequence to predict TF binding sites (TFBSs). The
              JASPAR database provides TFBSs predicted using the profiles in the
              CORE collection.</p>

            <p>The motifs in JASPAR are collected in two ways:</p>

            <ul>
              <li><strong>Internally:</strong> de novo generated motifs, by analyzing
              ChIP-seq/-exo sequences using a custom motif discovery pipeline
              (check the code at our
              <a href="https://bitbucket.org/CBGR/jaspar_2022_motif_discovery_and_curation_pipeline/src/master/" target="_blank">repository</a>).
              </li>
              <li><strong>Externally:</strong> motifs taken directly from other
              publications and/or resources.</li>
            </ul>

            <p>In both cases, the selected motifs are manually curated.
            Specifically, our curators assess the quality of the motif and
            search for an orthogonal publication providing support to the motif
            as the bona fide motif recognized by the TF of interest (e.g., a
            motif found in ChIP-seq peaks looks similar to one found by SELEX-seq).
            The Pubmed ID associated with the orthogonal support is provided in
            the TF profile metadata.</p>

            <p>JASPAR is the only database with this scope where the data can
            be used with no restrictions (open source). For a comprehensive
            review of models and how they can be used, please see the following
            reviews</p>

            <ul>
            <li><a href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&amp;db=pubmed&amp;dopt=Abstract&amp;list_uids=25045190&amp;query_hl=1">Modeling the specificity of protein-DNA interactions Quant Biol. 2013 Jun;1(2):115-130</a></li>
            <li><a href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&amp;db=pubmed&amp;dopt=Abstract&amp;list_uids=15131651&amp;query_hl=4">Applied bioinformatics for the identification of regulatory elements Nat Rev Genet. 2004 Apr;5(4):276-87</a></li>
            </ul>

          </div>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-md-6 col-lg-6 col-xs-12">

        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">JASPAR collections</h3>
            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fas fa-times"></i></button>
            </div>
          </div>

          <div class="box-body">
            <div class="box-group" id="accordion">
              <!-- we are adding the .panel class so bootstrap.js collapse plugin detects it -->

              {% for collection in collection_names %}

              <div class="panel box box-solid">
                <div class="box-header with-border">
                  <h4 class="box-title">
                    <a data-toggle="collapse" data-parent="#accordion" href="#{{ collection }}">
                      {% if collection == "CORE" %}
                      JASPAR CORE
                      {% else %}
                      JASPAR {{ collection }}
                      {% endif %}
                    </a>
                  </h4>
                </div>
                <div id="{{ collection }}" class="panel-collapse collapse {% if collection == 'CORE' %}in{% endif %}">
                  <div class="box-body">

                    <!-- Instead of including with a parameterised filename. -->
                    {% with "portal/collections/"|add:collection|add:".html" as template %}
                    {% include template %}
                    {% endwith %}

                  </div>
                </div>
              </div>

              {% endfor %}

            </div>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <!-- LINE CHART -->
        <div class="box box-danger">
          <div class="box-header with-border">
            <h3 class="box-title">JASPAR CORE and UNVALIDATED data growth per release</h3>

            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fas fa-minus"></i>
              </button>
              <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fas fa-times"></i></button>
            </div>
          </div>

          <div class="box-body">
            <div>
              <a href="https://plotly.com/~jaimicore/149/" target="_blank"
                 title="Jaspar_2022_bars" style="display: block; text-align: center;">
                <img src="https://plotly.com/~jaimicore/149.png" alt="Jaspar_2022_bars"
                     style="max-width: 100%;width: 600px;"  width="600"
                     onerror="this.onerror=null;this.src='https://plotly.com/404.png';" /></a>
              <script data-plotly="jaimicore:149" src="https://plotly.com/embed.js" async></script>

              <a href="https://plotly.com/~jaimicore/151/" target="_blank"
                 title="Jaspar_unvalidated_2022_bars" style="display: block; text-align: center;">
                <img src="https://plotly.com/~jaimicore/151.png" alt="Jaspar_unvalidated_2022_bars"
                      style="max-width: 100%;width: 600px;"  width="600"
                      onerror="this.onerror=null;this.src='https://plotly.com/404.png';" /></a>
              <script data-plotly="jaimicore:151" src="https://plotly.com/embed.js" async></script>
            </div>
          </div>

        </div>
      </div>
    </div>

{% endblock %}

{% block javascript %}
{% endblock %}
