{% extends 'portal/base.html' %}

{% load static %}
{% load bootstrap %}
{% block title %}
    Align to a custom matrix
{% endblock %}

{% block content_header %}
 Align to a custom matrix
{% endblock %}

{% block breadcrumb %}
  <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
  <li class="active">Align</li>
{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-md-12">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title"><i class="fas fa-sliders-h"> </i> Align to a custom matrix</h3>

              </div>
            <!-- /.box-header -->
            <div class="box-body">

            {% if request.GET.error == '1' %}
            <div class="alert alert-danger alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <i class="icon fas fa-info"></i> <b>Something went wrong!</b> Please make sure your input matrix is in JASPAR or RAW PFM format. Read more about matrix formats <a href='/faq/#data-formats'>here</a>.
               </div>
            {% endif %}
            <form action="/align" method="POST">
             {% csrf_token %}

             <div class="form-group">
                <label for="matrix" class="control-label">Please input a custom matrix (JASPAR or raw PFM format) </label>
                <textarea class="form-control" name="matrix" id="id_matrix" rows="7" maxlength='2000' placeholder="Enter a custom matrix in JASPAR or PFM format..."
                        data-toggle="tooltip" data-placement="bottom" title="Input a custom matrix in JASPAR or PFM format."
                        data-validation="required custom" data-validation-regexp="^\s*[ACGTURYMKWSBDHVNacgturymkwsbdhvn\[\]0-9.\t]{3,}\s*\n?"
                        data-validation-ignore=" "></textarea>
            </div>
            <!--
            <div class="form-group">
              <label for="matrix_type" class="control-label">Input type: </label>

              <label class="radio-inline"><input type="radio" name="matrix_type" id="matrix_type_pfm" value="pfm" data-validation="required" checked>Raw PFM format</label>
              <label class="radio-inline"><input type="radio" name="matrix_type" id="matrix_type_jaspar" value="jaspar" data-validation="required">JASPAR format</label>

              <label class="radio-inline"><input type="radio" name="matrix_type" id="matrix_type_iupac" value="iupac" data-validation="required">IUPAC</label>
            </div>
            -->

             {{ form|bootstrap }}

              <div class="form-group">
              <div class="box-footer clearfix">
              <button type="button" class="btn btn-success" value="A [13 13 3 1 54 1 1 1 0 3 2 5]
C [13 39 5 53 0 1 50 1 0 37 0 17]
G [17 2 37 0 0 52 3 0 53 8 37 12]
T [11 0 9 0 0 0 0 52 1 6 15 20]"
              name="align" id="align"><i class="fas fa-th"> Example matrix </i></button>
               <button type="reset" class="btn btn-warning" name="reset" id="reset"><i class="fas fa-trash-alt"></i> Reset </button>
               <button type="submit" class="pull-right btn btn-primary" name="Align" id="Align">Align <i class="fas fa-arrow-circle-right"></i></button>
               </div>
              </div>

            </form>
            </div>
            <!-- /.box-body -->

            <!--
            {% if request.get_host == 'jaspar2018.genereg.net' or request.get_host == 'jaspar.genereg.net' %}

             <div class="overlay">
              <i class="fas fa-cog fa-spin fa-3x"></i>
              <br><br><br><br><br><br>
               <div class="alert alert-danger alert-dismissible">
                      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                      <i class="icon fas fa-info-circle"></i> Matrix align tool is currently under maintenance. We apologise for any inconvenience that this may have caused you. Meantime you can run it on our development server: <a href="http://hfaistos.uio.no:8000/align" target="_blank"> http://hfaistos.uio.no:8000/align</a>
                </div>
            </div>
            {% endif %}
          -->
          </div>
          <!-- /.box -->
        </div>
    </div>

    {% block javascript %}
     <script type="text/javascript">
      $('#align').click(
    function(){
        $('#id_matrix').val($(this).val());
        $("#matrix_type_jaspar").prop("checked", true);
          }
      );
    </script>
  <script>
  // Restrict presentation length
  $('#scan_sequence').restrictLength( $('#pres-max-length') );

</script>



  {% endblock %}


{% endblock %}
