{% extends 'portal/base.html' %}

{% load static %}

{% block title %}
    Align results
{% endblock %}

{% block content_header %}
  Align results
{% endblock %}
      
{% block breadcrumb %}
  <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
  <li><a href="/inference"><i class="fas fa-table"></i> Align</a></li>
  <li class="active">Results</li>
{% endblock %}
{% block content %}

  <div class="row">
       <form action="/analysis" method="POST" id="analysis_form">
    {% csrf_token %}
    <div class="col-xs-12 col-md-9 col-xl-9">
          <div class="box box-primary">
            <div class="box-header">
              <h3 class="box-title">Align results </h3>
              <div class="box-tools pull-right">
                  <a href="#input_matrix" class="btn btn-info" data-toggle="collapse">Show input matrix</a>
                </button>
              </div>
            </div>
            <!-- /.box-header -->
            
            <div class="box-body">

                  <div id="input_matrix" class="collapse">
                    {{ matrix }}
                  </div> <br>

              <table id="search_table" class="table table-bordered table-responsive table-hover" width="100%">
                <thead>
                <tr>
                   <th><input data-toggle="tooltip" data-placement="bottom" title="Select all profiles" type="checkbox" class="flat-red" name="selectAll" id="check-all" /></th>
                  <th>ID</th>
                  <th>Name</th>
                  <th>Collection</th>
                  <th>Score</th>
                  <th>Percent Score</th>
                  <th>Sequence logo</th>
                  </tr>
                </thead>
                <tbody>
                {% for matrix in matrices %}
                  <tr>
                  <td><input type="checkbox" name="matrix_id" value="{{ matrix.id }}" 
                  data-validation="checkbox_group" class="flat-red" data-validation-qty="min1"></td>
                  <td><b><a href="/matrix/{{ matrix.matrix_id }}" target="_blank">{{ matrix.matrix_id }}</a></b></td>
                  <td>{{ matrix.name }}</td>
                  <td>{{ matrix.collection }}</td>                                    
                  <td>{{ matrix.score }}</td>
                  <td>{{ matrix.percent_score }}</td>
		  <td><a href="/matrix/{{ matrix.matrix_id }}" target="_blank"><img class="zoom" src="{% static 'logos/' %}all/{{ matrix.matrix_id }}.png" width="150px" height="50px" title="Click to view details"></a></td>
                  
                </tr>
                {% endfor %}            
                </tbody>
                <tfoot>
                
                </tfoot>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->

         <!-- /.box -->
      </div>

       <div class="col-xs-12 col-md-3 col-xl-3">
         {% include "portal/analysis_modules.html" %}
     </div>

      </form>
  </div>

  {% block datatable %}
<script>
  $(function () {
    $('#search_table').DataTable({
      "paging": true,
      "lengthChange": true,
      "searching": true,
     // "ordering": true,
      "info": true,
      "autoWidth": true,
      "bProcessing": true,
      "bScrollInfinite": true,
      "fixedHeader": false,
      "bLengthChange": true,
      "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
      "searchHighlight": true,
      "order": [[ 4, "dsc" ]],
      "responsive": true,               
      //"sScrollY": "100%",
      "aoColumnDefs": [
         { "bSortable": false,
          "aTargets": [0,6] }
                      ],
      "oLanguage": {
                     "sSearch": "Filter:",
                     "sLengthMenu": "Display _MENU_ profiles",
                   },
        'dom': 'lfrtipB',
        'buttons': [
        'copy', 'csv'
           ],
    });
  });
</script>
{% endblock %}
{% endblock %}
