{% extends 'portal/base.html' %}

{% load static %}

{% load bootstrap %}

{% block title %}
Changelog
{% endblock %}

{% block content_header %}
JASPAR Changelog
{% endblock %}
      
{% block breadcrumb %}
  <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
  <li class="active">Changelog</li>
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-md-12">
      <div class="box box-primary">
        <div class="box-header with-border">
          <h3 class="box-title"> <i class="fas fa-history"></i> JASPAR Changelog</h3>
          <div class="box-tools pull-right">
          </div>
        </div>
        <div class="box-body">
          {% include "portal/changelogs.html" %}
        </div>
      </div>
    </div>
  </div>

{% endblock %}
