{% extends 'portal/base.html' %}

{% load static %}

{% block title %}
JASPAR CORE {% if request.GET.collection == 'unvalidated' %} + Unvalidated {% endif %} {{ tax_group|title }} clustering
{% endblock %}

{% block content_header %}
JASPAR CORE {% if request.GET.collection == 'unvalidated' %} + Unvalidated {% endif %} {{ tax_group|title }} clustering
{% endblock %}

{% block breadcrumb %}
  <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
  <li><a href="/matrix-clusters">Clustering</a></li>
  <li class="active">Detail</li>
{% endblock %}
{% block content %}

{% block stylesheets %}

{% endblock %}

<div class="row">
  <div class="col-md-12">

    <div class="panel panel-default" style = 'overflow-x: scroll', width="100%">
      <div class="panel-body" width='100%' height="100%">

      {% if tax_group %}

        {% if request.GET.detail == 'true' %}

          {% if request.GET.collection == 'unvalidated' %}

          <a type="button" class="btn btn-success" href="?detail=false&collection=unvalidated">Radial tree</a>
          <hr>
          <iframe src="{% get_static_prefix %}clustering/{{release.year}}/{{tax_group}}/UNVALIDATED/interactive_trees/SUMMARY.html"
                  width="100%" height="1000px" frameborder=0></iframe>

          {% else %}

          <a type="button" class="btn btn-success" href="?detail=false">Radial tree</a>
          <hr>
          <iframe src="{% get_static_prefix %}clustering/{{release.year}}/{{tax_group}}/CORE/interactive_trees/SUMMARY.html"
                  width="100%" height="1000px" frameborder=0></iframe>

          {% endif %}

        {% else %}

          {% if request.GET.collection == 'unvalidated' %}

          <a type="button" class="btn btn-success" href="?detail=true&collection=unvalidated">Matrix clustering summary</a>
          <hr>
          <iframe src="{% get_static_prefix %}clustering/{{release.year}}/{{tax_group}}/UNVALIDATED/radial_trees/tree_annotated.html"
                  width="100%" height="1000px" frameborder=0></iframe>

          {% else %}

          <a type="button" class="btn btn-success" href="?detail=true">Matrix clustering summary</a>
          <hr>
          <iframe src="{% get_static_prefix %}clustering/{{release.year}}/{{tax_group}}/CORE/radial_trees/tree_annotated.html"
                  width="100%" height="1000px" frameborder=0></iframe>

          {% endif %}

        {% endif %}

      {% endif %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
