{% extends 'portal/base.html' %}

{% load static %}

{% block title %}
JASPAR matrix clustering
{% endblock %}

{% block content_header %}
JASPAR matrix clustering
{% endblock %}

{% block breadcrumb %}
  <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
  <li class="active">Clustering</li>
{% endblock %}
{% block content %}

{% block stylesheets %}

{% endblock %}

<div class="row">
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-header">
        <i class="fas fa-search"></i>
        <h3 class="box-title">Browse JASPAR matrix clustering for a selection of taxonomic groups</h3>
      </div>
      <div class="box-body" id="jaspar-core">

        {% for tax_group in featured_tax_groups %}

        <div class="col-lg-2 col-xs-6">
          <div class="box box-primary" >
            <img class="img-responsive img-square" src="{% static 'img/' %}/{{ tax_group.image_name }}"
                 width="100%" alt="JASPAR CORE {{ tax_group.name|capfirst }}">
            <h4 align="center">{{ tax_group.name|capfirst }} CORE</h4>
            <a href="/matrix-clusters/{{ tax_group.common_name }}">
              <h5 align="center"> <i class="fas fa-code-branch"></i> Radial tree</h5>
            </a>
            <a href="/matrix-clusters/{{ tax_group.common_name }}/?detail=true">
              <h5 align="center"> <i class="fas fa-table"></i> Cluster summary</h5>
            </a>

	    {% if have_archetypes %}

            <a href="/matrix-clusters/{{ tax_group.common_name }}/familial-profiles">
              <h5 align="center"> <i class="fas fa-align-center"></i> Familial profiles</h5>
            </a>

	    {% endif %}

            <hr>
            <h4 align="center">{{ tax_group.name|capfirst }} CORE + Unvalidated</h4>
            <a href="/matrix-clusters/{{ tax_group.common_name }}/?collection=unvalidated">
              <h5 align="center"> <i class="fas fa-code-branch"></i> Radial tree</h5>
            </a>
            <a href="/matrix-clusters/{{ tax_group.common_name }}/?detail=true&collection=unvalidated">
              <h5 align="center"> <i class="fas fa-table"></i> Cluster summary</h5>
            </a>
          </div>
        </div>

        {% endfor %}

      </div>
    </div>
  </div>
</div>

{% endblock %}
