{% extends 'portal/base.html' %}

{% load static %}

{% load bootstrap %}

{% block title %}
    Contact us
{% endblock %}

{% block content_header %}
 Contact Us
{% endblock %}

{% block breadcrumb %}
  <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
  <li class="active">Contact us</li>
{% endblock %}

{% block content %}

    <div class="row">

        <div class="col-md-12">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title"><i class="fas fa-envelope"> </i> Correspondence</h3>
            </div>

            <div class="box-body">

              <p><b>If you have questions, please post those to our open <a
                  href="https://groups.google.com/forum/#!forum/jaspar"
                  target="_blank">Google Q&A Forum</a></b></p>

              <hr>

              <p>We appreciate feedback – criticism as well as suggestions for
              new content. Development and supervision of the JASPAR project is
              coordinated by the labs of Albin Sandelin, Anthony Mathelier,
              Boris Lenhard and Wyeth Wasserman.</p>

              <hr>

              <ul>
              <li><b><a href="http://albinsandelin.wixsite.com/sandelinlab" target="_blank">Albin Sandelin</a></b>: albin AT binf.ku.dk</li>
              <li><b><a href="https://mathelierlab.com/" target="_blank">Anthony Mathelier</a></b>: anthony.mathelier AT ncmm.uio.no</li>
              <li><b><a href="http://group.genereg.net/" target="_blank">Boris Lenhard</a></b>: b.lenhard AT imperial.ac.uk</li>
              <li><b><a href="http://cmmt.ubc.ca/wasserman-lab/" target="_blank">Wyeth Wasserman</a></b>: wyeth AT cmmt.ubc.ca</li>
              </ul>

              <hr>

              <p>For technical problems please contact:</p>

              <ul>
              <li><b>Paul Boddie</b>: paul.boddie AT ncmm.uio.no</li>
              <li><b><a href="https://asntech.github.io/" target="_blank">Aziz Khan</a></b>: azizk AT stanford.edu</li>
              </ul>

              <hr>

              {% include "portal/tracker_twitter_contact.html" %}

            </div>
          </div>
        </div>
    </div>

{% endblock %}
