{% load bootstrap %}

<div class="col-md-12">
  <div class="box box-success">
    <div class="box-header with-border">
      <i class="fas fa-check-circle"></i>
      <h3 class="box-title">Community curation</h3>

      <div class="box-tools pull-right">
        <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
        <button type="button" class="btn btn-box-tool" data-widget="remove"><i class="fas fa-times"></i></button>
      </div>
    </div>

    <div class="box-body">
      <div class="row">
        {% if messages %}

        {% for message in messages %}
        <div class="col-md-12">
          <div class="alert alert-{{ message.tags }} alert-{{ message.tags }}">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <i class="icon fas fa-{{ message.tags }}"></i>
            {{ message }}
          </div>
        </div>
        {% endfor %}

        {% endif %}

        {% if form %}

        <form id="curation" action="{{ request.path_info }}" method="POST">
          {% csrf_token %}

          <div class="col-md-6">
            {{form|bootstrap}}
          </div>

          <div class="col-md-6">

            <div class="form-group">
              <label>Your Name (Optional)</label>
              <input type="text" name="from_name" id="from_name" class="form-control" style="width: 100%;">
            </div>

            <div class="form-group">
              <label>Your Email</label>
              <input type="text" name="from_email" id="from_email" class="form-control" style="width: 100%;">
              <p><small>Your email will only be used by our team to contact you.</small></p>
            </div>

            <div class="form-group">
              <input type="hidden" name="matrix_id" value="{{ matrix.base_id }}.{{ matrix.version }}">
              <button type="reset" class="btn btn-warning" name="reset" id="reset"><i class="fas fa-trash-alt"></i> Reset </button>
              <button type="submit" class="pull-right btn btn-primary" name="submit" id="submit">Submit <i class="fas fa-arrow-circle-right"></i></button>
            </div>

          </div>

        </form>

        {% else %}

        <div class="alert alert-{{ message_type }} alert-dismissible">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          {{ message }}
        </div>

        {% endif %}

      </div>
    </div>

    <div class="box-footer">

      <p>If your contribution is significant, we will acknowledge it in the
      manuscript of the JASPAR upcoming release. We do not share your
      information with any third parties.</p>

    </div>

  </div>
</div>
