{% extends 'portal/base.html' %}

{% load static %}

{% block title %}
Download data
{% endblock %}

{% block content_header %}
Download JASPAR data
{% endblock %}

{% block breadcrumb %}
  <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
  <li class="active">Downloads</li>
{% endblock %}

{% block stylesheets %}

<style type="text/css">
  h5 { font-weight: bold; }
</style>

{% endblock %}

{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="nav-tabs-custom">
      <ul class="nav nav-tabs" id="detailTabs">
        <li class="active"><a href="#pfm" data-toggle="tab"><i class="fas fa-download"></i> CORE PFMs </a></li>
        <li><a href="#tffm" data-toggle="tab"><i class="fas fa-download"> </i> TFFMs</a></li>
        <li><a href="#collections" data-toggle="tab"><i class="fas fa-download"> </i> JASPAR collections (PFMs)</a></li>

        {% if have_clustering %}
        <li><a href="#clustering" data-toggle="tab"><i class="fas fa-download"> </i> Matrix clustering</a></li>
        {% endif %}

        {% if have_familial_binding_sites %}
        <li><a href="#familial_binding_sites" data-toggle="tab"><i class="fas fa-download"> </i> Familial binding sites</a></li>
        {% endif %}

        <li><a href="#sql" data-toggle="tab"><i class="fas fa-download"> </i> SQL dump</a></li>
        <li><a href="#other" data-toggle="tab"><i class="fas fa-download"> </i> Other data</a></li>
      </ul>
      <div class="tab-content">

        <div class="active tab-pane" id="pfm">

          <div class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

            <i class="icon fas fa-info"></i>Download JASPAR CORE <i>Position
            Frequency Matrix (PFM)</i> (non-redundant and redundant) in
            JASPAR, MEME and TRANSFAC matrix format for six taxonomic groups.
            More information about matrix formats can be found <a
              href="/faq/#data-formats">here</a>.

          </div>

          <div class="panel panel-default">
            <div class="panel-heading">Taxonomic groups</div>
            <div class="panel-body">
              <div class="nav-tabs-custom">
                <ul class="nav nav-tabs" id="pfm_taxgroupTabs">
                  {% for tax_group in tax_groups_all %}
                  <li class="{% if forloop.counter == 1 %} active {% endif %}">
                    <a href="#pfm_{{ tax_group.common_name }}" data-toggle="tab">{{ tax_group.common_name|capfirst }}</a>
                  </li>
                  {% endfor %}
                </ul>

                <div class="tab-content">

                  {% for tax_group in tax_groups_all %}

                  <div class="{% if forloop.counter == 1 %} active {% endif %} tab-pane"
                       id="pfm_{{ tax_group.common_name }}">

                    <p>Download PFM data for
                    
                    {% if tax_group.common_name == 'all' %}
                    <b>all taxonomic groups</b>
                    {% else %}
                    <b>{{ tax_group.common_name|lower }}</b>
                    {% endif %}

                    in <b>JASPAR CORE</b>.</p>

                    <div class="row">

                      {% for format in formats %}
                      <div class="col-md-4 col-sm-6 col-xs-12">

                        {% if format == "zip" %}
                        <h5>Individual PFMs (zip)</h5>
                        {% else %}
                        <h5>Single batch file (txt)</h5>
                        {% endif %}

                        <ul class="list-group">
                          {% for redundancy in all_redundancies %}
                          <li class="list-group-item">
                            <p class="list-group-heading">PFMs ({{ redundancy }})</p>
                            <ul class="list-group">
                              {% for data_type in data_types %}
                              <li class="list-group-item">
                                <a href="/download/data/{{ data_tag }}/CORE/{{ jaspar_release }}_CORE_{% if tax_group.common_name != 'all' %}{{ tax_group.common_name|lower }}_{% endif %}{{ redundancy }}_pfms_{{ data_type.suffix }}.{{ format }}">
                                  <i class="fas fa-download"></i> {{ data_type.name }}</a>
                              </li>
                              {% endfor %}
                            </ul>
                          </li>
                          {% endfor %}
                        </ul>

                      </div>
                      {% endfor %}

                      <div class="col-md-4 col-sm-12">

                        {% if tax_group.common_name != 'all' %}

                        <h5>{{ tax_group.common_name|capfirst }}</h5>

                        <img class="img-responsive img-square" src="{% static 'img/' %}{{ tax_group.image_name }}"
                             width="100%" alt="JASPAR CORE {{ tax_group.name|capfirst }}">

                        {% endif %}

                        <h5>JASPAR CORE</h5>

                        {% include "portal/collections/CORE.html" %}

                      </div>

                    </div>

                  </div>

                  {% endfor %}

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane" id="tffm">

          <div class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

            <p><i class="icon fas fa-info"></i> Here you can download XML
            files for each of the Transcription Factor Flexible Models
            (TFFMs). For each TFFM there is both a 1st-order and a detailed
            model each of which is described in a separate XML file.</p>

          </div>

          <ul class="list-group">
            <li class="list-group-item">
              <a href="/download/data/{{ data_tag }}/TFFM.tar.gz">
                <i class="fas fa-download"></i> TFFM.tar.gz</a>:
                This tar file contains XML files for each of the Transcription
                Factor Flexible Models (TFFMs)</li>
            <li class="list-group-item">
              <a href="/download/data/{{ data_tag }}/TFFM_table.csv">
                <i class="fas fa-download"></i> TFFM_table.csv</a>:
                This file contains additional information about each TFFMs</li>
          </ul>

          <p>TFFM_table.csv gives additional information about each TFFM. It
          contains the following columns:</p>

          <ul>
          <li>TFFM ID - the unique ID of the TFFM including version number</li>
          <li>PFM ID - the JASPAR matrix ID of the profile used initially to train the TFFM</li>
          <li>TF Name - name of the transcription factor</li>
          <li>ChIP-seq file - name of the ChIP-seq peak data file used to train the TFFM</li>
          <li>1st-order log(p) - log(p-value) of the 1st-order TFFM model</li>
          <li>Detailed log(p) - log(p-value) of the detailed TFFM model</li>
          </ul>

          <hr>

          <p>For more detailed documentation about TFFMs please see:
          <a href="http://www.cisreg.ca/TFFM/doc"
            target="_blank">http://www.cisreg.ca/TFFM/doc</a></p>

          <p>Anthony Mathelier, Wyeth Wasserman, <a
          href="https://www.ncbi.nlm.nih.gov/pubmed/24039567" target="_blank">
          The next generation of transcription factor binding site
          prediction</a>. PLoS Comput Biol. 2013;9(9):e1003214. doi:
          10.1371/journal.pcbi.1003214.</p>

        </div>

        <div class="tab-pane" id="other">
          <div class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

            <i class="icon fas fa-info"></i> Download other data including
            sites, sequence logos, bed files.

          </div>

          <ul class="list-group">
            <li class="list-group-item">
              <a href="/download/data/{{ data_tag }}/sites.tar.gz">
                <i class="fas fa-download"></i> Sites files</a>:
                The sequences used to generate the PFM</li>
            <li class="list-group-item">
              <a href="/download/data/{{ data_tag }}/bed.tar.gz">
                <i class="fas fa-download"></i> BED files</a>:
                The genomic coordinates of the sequences</li>
            <li class="list-group-item">
              <a href="/download/data/all/sequence_logos_svg.tar.gz">
                <i class="fas fa-download"></i> Logos</a>:
                Sequence logos in SVG format</li>
            <li class="list-group-item">
              <a href="/download/data/{{ data_tag }}/centrality.tar.gz">
                <i class="fas fa-download"></i> Centrality plots</a>:
                The plots of centrality</li>
          </ul>
        </div>

        {% if have_clustering %}

        <div class="tab-pane" id="clustering">
          <div class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

            <i class="icon fas fa-info"></i>Download JASPAR CORE matrix
            clustering for {{ tax_groups_clustering_count }} taxonomic groups.

          </div>

          <div class="panel panel-default">
            <div class="panel-heading">Taxonomic groups</div>
            <div class="panel-body">
              <div class="nav-tabs-custom">
                <ul class="nav nav-tabs" id="pfm_taxgroupTabs">
                  {% for tax_group in tax_groups_clustering %}
                  <li class="{% if forloop.counter == 1 %} active {% endif %}">
                    <a href="#clustering_{{ tax_group.common_name }}" data-toggle="tab">{{ tax_group.common_name|capfirst }}</a>
                  </li>
                  {% endfor %}
                </ul>

                <div class="tab-content">

                  {% for tax_group in tax_groups_clustering %}

                  <div class="{% if forloop.counter == 1 %} active {% endif %} tab-pane"
                       id="clustering_{{ tax_group.common_name }}">

                    <p>Download clustering data for <b>{{ tax_group.common_name|lower }}</b>
                    in the <b>CORE</b> and <b>CORE + Unvalidated</b> collections.</p>

                    <div class="row">

                      {% for cc in clustering_collections %}

                      <div class="col-md-4 col-sm-6 col-xs-12">

                        <h5>{{ cc.label }}</h5>

                        <ul class="list-group">
                          {% for format in clustering_formats %}
                          <li class="list-group-item">
                            <a href="{% get_static_prefix %}clustering/{{ data_tag }}/{{ tax_group.common_name|lower }}/{{ cc.name }}/{{ format.folder }}/JASPAR_{{ data_tag }}_matrix_clustering_{{ tax_group.common_name|lower }}_archive.zip">
                              <i class="fas fa-download"></i> {{ format.label }}
                            </a>
                          </li>
                          {% endfor %}
                        </ul>
                      </div>

                      {% endfor %}

                      <div class="col-md-4 col-xs-12">

                        {% if tax_group.common_name != 'all' %}

                        <h5>{{ tax_group.common_name|capfirst }}</h5>

                        <img class="img-responsive img-square" src="{% static 'img/' %}{{ tax_group.image_name }}"
                             width="100%" alt="JASPAR CORE {{ tax_group.name|capfirst }}">

                        {% endif %}

                      </div>
                    </div>
                  </div>

                  {% endfor %}

                </div>
              </div>
            </div>
          </div>
        </div>

        {% endif %}

        {% if have_familial_binding_sites %}

        <div class="tab-pane" id="familial_binding_sites">
          <div class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

            <i class="icon fas fa-info"></i>Download familial binding site data.

          </div>

          <div class="panel panel-default">
            <ul class="list-group">

              {% for genome in familial_binding_sites_genomes %}

              <li class="list-group-item">
                <a href="{{ familial_binding_sites_prefix }}/{{ data_tag }}/{{ genome.name }}/familial_binding_sites_{{ genome.data_tag }}.bb">
                  <i class="fas fa-download"></i> {{ genome.species_name }} ({{ genome.name }})</a></li>

              {% endfor %}

            </ul>
          </div>
        </div>

        {% endif %}

        <div class="tab-pane" id="collections">
          <div class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

            <i class="icon fas fa-info"></i>Download all the PFMs in JASPAR, MEME
            and TRANSFAC matrix format for various JASPAR collections.

          </div>

          <div class="panel panel-default">
            <div class="panel-heading">Collections</div>
            <div class="panel-body">
              <div class="nav-tabs-custom">
                <ul class="nav nav-tabs" id="pfm_taxgroupTabs">
                  {% for collection in collections %}
                  <li class="{% if forloop.counter == 1 %} active {% endif %}">
                    <a href="#pfm_{{ collection.name }}" data-toggle="tab">{{ collection.label }}</a>
                  </li>
                  {% endfor %}
                </ul>

                <div class="tab-content">

                  {% for collection in collections %}

                  <div class="{% if forloop.counter == 1 %} active {% endif %} tab-pane"
                       id="pfm_{{ collection.name }}">

                    <p>Download PFM data in the <b>{{ collection.label }}</b> collection.</p>

                    <div class="row">

                      {% for format in formats %}
                      <div class="col-md-4 col-sm-6 col-xs-12">

                        {% if format == "zip" %}
                        <h5>Individual PFMs (zip)</h5>
                        {% else %}
                        <h5>Single batch file (txt)</h5>
                        {% endif %}

                        <ul class="list-group">
                          {% for redundancy in collection.redundancies %}
                          <li class="list-group-item">
                            <p class="list-group-heading">PFMs ({{ redundancy}})</p>
                            <ul class="list-group">
                              {% for data_type in data_types %}
                              <li class="list-group-item">
                                <a href="/download/data/{{ data_tag }}/{{ collection.subdirectory }}/{{ jaspar_release }}_{{ collection.name }}_{{ redundancy }}_pfms_{{ data_type.suffix }}.{{ format }}"> <i class="fas fa-download"></i> {{ data_type.name }}</a>
                              </li>
                              {% endfor %}
                            </ul>
                          </li>
                          {% endfor %}
                        </ul>
                      </div>
                      {% endfor %}

                      <div class="col-md-4 col-sm-12">

                        <h5>JASPAR {{ collection.label }}</h5>

                        {% with "portal/collections/"|add:collection.name|add:".html" as template %}
                        {% include template %}
                        {% endwith %}

                      </div>
                    </div>
                  </div>

                  {% endfor %}

                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="tab-pane" id="sql">
          <div class="alert alert-info alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <i class="icon fas fa-info"></i> Download the {{ jaspar_release }} database as SQL dump file.
          </div>

          <ul class="list-group">
            <li class="list-group-item">
              <a href="/download/database/JASPAR{{ data_tag }}.sql.gz">
                <i class="fas fa-download"></i> JASPAR{{ data_tag }}.sql.gz</a> : SQL dump file
            </li>
          </ul>

          <p>To instantiate an SQLite database from the SQL dump file, use the
          following command in a Unix shell session:</p>

          <pre>gunzip -c JASPAR{{ data_tag }}.sql.gz | sqlite3 JASPAR{{ data_tag }}.sqlite3</pre>

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
