{% extends 'portal/base.html' %}

{% load static %}

{% load bootstrap %}

{% block title %}
JASPAR Enrichment Analysis
{% endblock %}

{% block content_header %}
JASPAR Enrichment Analysis
{% endblock %}

{% block breadcrumb %}
  <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
  <li class="active">Enrichment</li>
{% endblock %}

{% block content %}

<div class="row">

  {% include "portal/enrichment_about.html" %}

</div>

{% endblock %}
