{% extends 'portal/base.html' %}

{% load static %}

{% block title %}
JASPAR familial profiles
{% endblock %}

{% block content_header %}
JASPAR familial profiles
{% endblock %}

{% block breadcrumb %}
  <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
  <li><a href="/matrix-clusters">Clustering</a></li>
  <li class="active">Familial Profiles</li>
{% endblock %}
{% block content %}

{% block stylesheets %}

{% endblock %}

<div class="row">
  <div class="col-md-12">

    <div class="panel panel-default" style = 'overflow-x: scroll', width="100%">
      <div class="panel-body" width='100%' height="100%">

        {% if tax_group %}

        <iframe src="{% get_static_prefix %}archetypes/{{release.year}}/table_{{tax_group}}.html"
                  width="100%" height="1000px" frameborder=0></iframe>

        {% endif %}

      </div>
    </div>
  </div>
</div>

{% endblock %}
