{% extends 'portal/base.html' %}

{% load static %}

{% block title %}
Feature absent
{% endblock %}

{% block content_header %}
Feature absent
{% endblock %}

{% block breadcrumb %}
  <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
  <li class="active">Notice</li>
{% endblock %}

{% block content %}

{% block stylesheets %}

{% endblock %}

<div class="row">
  <div class="col-md-12">
    <div class="box box-primary">
      <div class="box-header">
        <i class="fas fa-info-circle"></i>
        <h3 class="box-title">Absent features in specific JASPAR releases
      </div>
      <div class="box-body">

        <p>For certain JASPAR releases, various features and data
        representations are not provided that might be found for other
        releases. The following features may be absent due to data not having
        been prepared for a particular release and/or the unavailability of a
        tool for use with the data belonging to a particular release:</p>

        <ul>
          <li>Matrix clustering</li>
          <li>Familial profiles</li>
          <li>Profile inference</li>
        </ul>

        <p>Please refer to the latest release for the broadest set of
        currently supported features.</p>

      </div>
    </div>
  </div>
</div>

{% endblock %}
