{% load static %}

<footer class="main-footer">

  <div class="row" >

    <div class="col-md-5 col-sm-10 col-xs-12">
      <div class="info-box1">

        <p><span style="color: #dd4b39; font-weight: bold">JASPAR</span> is an
        open-access database of curated, non-redundant transcription factor
        (TF) binding profiles stored as position frequency matrices (PFMs) and
        TF flexible models (TFFMs) for TFs across multiple species in six
        taxonomic groups.</p>

	<p>You are viewing data from the {{ release_number_ordinal }} release
	(<strong>{{ release.year }}</strong>) of JASPAR.</p>

      </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-12">
      <div class="info-box1">
        <p><a href="/about"><i class="fas fa-info-circle"></i> About JASPAR</a></p>
        <p><a href="/tour"><i class="fas fa-file-video"></i> JASPAR video tour</a></p>
        <p><a href="/blog"><i class="fas fa-rss"></i> Blog and News</a></p>
        <p><a href="/contact-us"><i class="fas fa-envelope"></i> Contact Us</a></p>
      </div>
    </div>

    <div class="col-md-2 col-sm-4 col-xs-12">
      <div class="info-box1">
        <p><a href="/profile-versions"><i class="fas fa-copy"></i> Profile versions</a></p>
        <p><a href="/changelog"><i class="fas fa-history"></i> Changelog</a></p>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 col-xs-12">

      {% include "portal/logos.html" %}

    </div>

  </div>

  <div class="row">

    <div class="col-sm-12">

      {% include "portal/trackers.html" %}

      <hr>

      <p style="text-align: center; clear: both">

        <span style="color: #dd4b39; font-weight: bold">JASPAR</span> is
        brought to you by a collaborative effort of several research labs and
        it is licensed under the <a rel="license"
                                href="http://creativecommons.org/licenses/by/4.0/"
                                target="_blank"> <i class="fab
                                fa-creative-commons" aria-hidden="true"></i>
        Creative Commons Attribution 4.0 International License.</a>

      </p>
    </div>

  </div>

</footer>
