{% extends 'portal/base.html' %}

{% load static %}

{% load bootstrap %}

{% block title %}
Binding Sites
{% endblock %}

{% block content_header %}
Binding sites for <b>{{ matrix_id }}</b>
{% endblock %}

{% block stylesheets %}

  <!-- Specific styles. -->

  <style type="text/css">
    .sequence { font-family: monospace; color: grey; white-space: pre; }
    .site { font-weight: bold; color: red; }
  </style>

{% endblock %}

{% block breadcrumb %}
  <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
  <li class="active">Binding sites</li>
{% endblock %}

{% block content %}

    <div class="row">
      <div class="col-md-12">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title"><i class="fas fa-envelope"> </i> Binding Sites</h3>
          </div>

          <div class="box-body">

            {% if not sites %}

            <div class="alert alert-danger">

              Binding site information is not available for this matrix profile.
            </div>

            {% else %}

            <table class="table table-hover">
              <tr>
                <th>Site</th>
                <th>Occurrences</th>
              </tr>

              {% for site in sites %}

              <tr>
                <td class="sequence"><span>{{ site.0 }}</span><span class="site">{{ site.1 }}</span><span >{{ site.2 }}</span></td>
                <td>1</td>
              </tr>

              {% endfor %}

            </table>

            {% endif %}

          </div>
        </div>
      </div>
    </div>

{% endblock %}
