{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{% static 'css/AdminLTE.min.css' %}">

  <!-- Specific styles. -->

  <style type="text/css">
    body { overflow: auto; }
    .sequence { font-family: monospace; color: grey; white-space: pre; vertical-align: top; }
    .site { font-weight: bold; color: red; }
  </style>
</head>

<h1>Sequences for model {{ matrix_id }}</h1>

<table>
<thead>
<tr>
  <th>Site</th>
  <th>Occurrences</th>
</tr>
</thead>
<tbody>
  {% for site in sites %}
  <tr>
   <td class="sequence"><span>{{ site.0 }}</span><span class="site">{{ site.1 }}</span><span >{{ site.2 }}</span></td>
   <td>1<td>
 </tr>
 {% endfor %}
</tbody>
</table>
</body>
</html>
