{% extends 'portal/base.html' %}

{% load static %}

{% block title %}
The high-quality transcription factor binding profile database
{% endblock %}

{% block content_header %}
{% endblock %}

{% block breadcrumb %}
{% endblock %}

{% block main_header %}
{% endblock %}

{% block content %}

{% block stylesheets %}

<style type="text/css">
  .jumbotron-billboard .img {
    margin-bottom: 0px;
    opacity: 0.3;
    color: #fff;
    background: #fff url("{% static 'img/logos/jaspar_logo.png' %}") center center;
    width: 100%;
    height: 100%;
    background-size: cover;
    overflow: hidden;

    position:absolute;
    top:0;left:0;
    z-index:1;
  }
  .jumbotron {position:relative;padding:50px;
    border-radius: 8px;
    border: 4px;
    border-color: #fff;
    border-style: solid;
  }
  .jumbotron .container {z-index:2;
   position:relative;
    z-index:2;
  }
</style>

{% endblock %}

<div class="row">

{% include "portal/quick_search.html" %}

</div>

<div class="jumbotron jumbotron-billboard">
  <div class="img"></div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h2 align="center"><b>JASPAR</b> {{ release.year }}: the high-quality transcription factor binding profile database</h2>
        <p align="center"><a href="/about">Read more about JASPAR</a></p>
        <p align="center">
          <a class="btn btn-md btn-success" id="jaspar-tour" href="#" role="button">
            <i class="fas fa-play"></i> JASPAR interactive tour
          </a>
        </p>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 col-lg-12 col-xs-12">

    {% if release.year != latest_release.year %}

    <div class="box box-info" id="jaspar-version">
      <div class="box-header">
        <h3 class="box-title"><i class="fas fa-info-circle"></i> JASPAR {{ release.year }}</h3>
        <div class="box-tools pull-right">
          <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fas fa-minus"></i>
          </button>
        </div>
      </div>
      <div class="box-body">
        <p>This site shows the data for JASPAR {{ release.year }}. The most recent
        version of JASPAR showing the latest data can be found
        <a href="https://jaspar.uio.no/">here</a>.</p>
      </div>
    </div>

    {% endif %}

    <div class="box box-primary">
      <div class="box-header">
        <i class="fas fa-search"></i>

        <h3 class="box-title">Browse JASPAR CORE for
          {{ featured_tax_groups_count }} different taxonomic groups</h3>

      </div>
      <div class="box-body" id="jaspar-core">

        {% for tax_group in featured_tax_groups %}

        <div class="col-lg-2 col-xs-4">
          <div class="box box-primary" >
            <a href="/search?q=&collection=CORE&tax_group={{ tax_group.common_name }}">
              <img class="img-responsive img-square" src="{% static 'img/' %}{{ tax_group.image_name }}"
                   width="100%" alt="JASPAR CORE {{ tax_group.name|capfirst }}">
              <h4 align="center">{{ tax_group.name|capfirst }}</h4>
            </a>
          </div>
        </div>

        {% endfor %}

      </div>
    </div>

    <div class="box box-solid">
      <div class="box-header with-border">
        <h3 class="box-title"> <i class="fas fa-info-circle"></i> About JASPAR CORE</h3>
        <div class="pull-right">
          <a href="/about"> <i class="fas fa-link"></i> Info about other collections</a>
        </div>
      </div>
      <div class="box-body">

        {% include "portal/collections/CORE.html" %}

      </div>
    </div>

  </div>

   <div class="col-md-12 col-lg-12 col-xs-12">

    <div class="box box-success">
      <div class="box-header with-border">
        <h3 class="box-title"><i class="fas fa-edit"></i> Citing JASPAR {{ release.year }}</h3>
        <div class="pull-right">
          <a href="https://www.ncbi.nlm.nih.gov/pubmed/{{ release.pubmed_id }}" target="_blank"><i class="ai ai-pubmed"></i> PubMed</a>
          | <a href="https://doi.org/{{ release.doi }}" target="_blank"><i class="fas fa-external-link-alt"></i> NAR</a>
        </div>
      </div>
      <div class="box-body">

        {{ release.authors }} <b>{{ release.title }}</b> <i>{{ release.journal }}</i> {{ release.journal_details }};
        doi: <a href="https://doi.org/{{ release.doi }}" target="_blank">{{ release.doi }}</a>

      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block javascript %}

{% include "portal/tour.html" %}

  <script type="text/javascript">
    /* Permit the tour to be started. */
    $('#jaspar-tour').click(function(){
      hopscotch.startTour(tour, 0);
    });
  </script>

{% endblock %}
