{% extends 'portal/base.html' %}

{% load static %}
{% load bootstrap %}

{% block advertising %}
{% include "portal/twitter_detail.html" %}
{% include "portal/facebook_detail.html" %}
{% endblock %}

{% block title %}
    {{ matrix.name }} - {{ matrix.base_id }}.{{ matrix.version }} -  profile summary
{% endblock %}

{% block content_header %}
Detailed information of matrix profile <b>{{ matrix.base_id }}.{{ matrix.version }} </b>
{% endblock %}

{% block breadcrumb %}
  <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
  <li class="active">Matrix &gt; {{ matrix.base_id }}.{{ matrix.version }}</li>
{% endblock %}

{% block content %}

    {% if request.GET.cart == '1' %}
    <div class="alert alert-success alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="icon fas fa-cart-plus"></i>  You have added profile <b>{{ matrix.base_id }}.{{ matrix.version }}</b> to the cart.
    </div>
    {% endif %}

    {% if request.GET.remove %}
    <div class="alert alert-danger alert-dismissible">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <i class="icon fas fa-trash"></i> You have removed profile <b>{{ matrix.base_id }}.{{ matrix.version }}</b> from the cart.
    </div>
    {% endif %}

    {% if matrix.collection == 'UNVALIDATED' %}
    <div class="alert alert-danger alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>

      <i class="icon fas fa-exclamation-triangle"></i> This profile is
      unvalidated. Please help our curators to validate profiles by performing
      experiments and/or by pointing to literature.

    </div>
    {% endif %}

    <div class="row">

      {% if matrix.collection == 'UNVALIDATED' %}
      {% include "portal/curation_form.html" %}
      {% endif %}

      <div class="col-md-4">
        <div class="box box-primary">
          <div class="box-header">
            <h3 class="box-title">Profile summary</h3>

            <div class="box-tools pull-right">
              <a href='?revcomp={% if request.GET.revcomp %}{% if request.GET.revcomp == "1" %}0 {% else %}1 {% endif %}{% else %}1{% endif %}'>

                {% if matrix.collection != 'UNVALIDATED' %}

                {% if matrix.id|stringformat:"i" in request.session.imatrix_ids %}

                <a href="?remove={{ matrix.id }}">
                  <button type="submit" class="btn btn-danger btn-md"
                          id="cart_submit" name="cart" value="cart"
                          title="Remove from cart"><i class="fas fa-shopping-cart"></i> Remove</button>
                </a>

                {% else %}

                  <form action="/analysis" method="POST" id="analysis_form">
                  {% csrf_token %}
                  <input type="hidden" name="matrix_id" value="{{ matrix.id }}">

                  <button type="submit" class="btn btn-success btn-md" id="cart_submit" name="cart" value="cart" title="Add to cart"><i class="fas fa-cart-plus"></i> Add </button>
                  <input type="hidden" name="profile_data" value="True">
                </form>

                {% endif %}

                {% endif %}
              </a>

            </div>
          </div>

          <div class="box-body table-responsive no-padding">
            <table class="table table-hover" id="matrix-detail">
            <tr id="profile-detail">
              <td><b>Name:</b>  </td>
              <td>{{ matrix.name }}</td>
            </tr>

            <tr>
              <td><b>Matrix ID: </b> </td>
              <td>{{ matrix.base_id }}.{{ matrix.version }}</td>
            </tr>
            <tr>
              <td><b>Class:</b>  </td>
              <td>{{ class|join:"::" }}</td>
            </tr>

            <tr>
              <td><b>Family:</b>  </td>
              <td>{{ family|join:"::" }}</td>
            </tr>

             <tr>
              <td><b>Collection:</b>  </td>
              <td>
              {{ matrix.collection }}
              </td>
            </tr>
            <tr>
              <td><b>Taxon:</b>  </td>
              <td>{{ tax_group|title }}</td>
            </tr>
            <tr>
              <td><b>Species:</b>  </td>
              <td>
              {% for specie in species %}
              <a href="https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&id={{ specie.tax_id.tax_id }}" target="_blank">
              {{ specie.tax_id.species }}
              </a>
              {% endfor %}
              </td>
            </tr>

            <tr>
              <td><b>Data Type:</b>  </td>
              <td>{{ type }}</td>
            </tr>
             <tr>
              <td><b>Validation:</b>  </td>
              <td>
                {% if pubmed_ids and pubmed_ids.0 != '-' %}
                {% for medline in pubmed_ids %}
                <a href="https://www.ncbi.nlm.nih.gov/pubmed/{{ medline }}" target="_blank">

                {{ medline }}

                </a>
                {% endfor %}
                {% endif %}
              </td>
            </tr>
            <tr>
              <td><b>Uniprot ID:</b>  </td>
              <td>
              {% for protein in proteins %}
              <a href="http://www.uniprot.org/uniprot/{{ protein.acc }}" target="_blank"> {{ protein.acc }} </a> &nbsp;

              {% endfor %}
              </td>
            </tr>

            <tr>
              <td><b>Source:</b>  </td>
              <td>
              {% if source == 'ENCODE' %}
              <a href="https://www.encodeproject.org/" target="_blank"> {{ source }} </a>

              {% elif source == 'ENCODE reprocessed in ReMap2' or source == 'ReMap' %}
              <a href="http://remap.univ-amu.fr/" target="_blank"> {{ source }} </a>

              {% elif source == 'PAZAR' %}
              {{ source }}

              {% elif source == 'ChIP-seq' %}
               {{ source }}
              {% else %}
             <a href="https://www.ncbi.nlm.nih.gov/pubmed/{{ source }}" target="_blank"> {{ source }} </a>
              {% endif %}

              </td>
            </tr>

            <tr>
              <td><b>Comment:</b>  </td>
              <td>{{ comment }}</td>
            </tr>

            </table>
            <hr>

          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Sequence logo</h3>

            <div class="box-tools pull-right">
              <a href="{% static 'logos/' %}all/svg/{{ matrix.base_id }}.{{ matrix.version }}{% if request.GET.revcomp == '1' %}.rc{% endif %}.svg" download target="_blank">
              <button type="button" class="btn btn-primary"><i class="fas fa-download"> </i> Download SVG</button></a>
            </div>
          </div>

          <div class="box-body" id="sequence-logo">
            <p align="center" id="demo-end">
            <img class="img-fluid" style="max-width: 100%; height: 225px;"
                 src="{% static 'logos/' %}all/svg/{{ matrix.base_id }}.{{ matrix.version }}{% if request.GET.revcomp == '1' %}.rc{% endif %}.svg" height="150px" align="center">
            </p>
          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="box box-primary">
          <div class="box-header with-border">
          <div class="col-md-3">
            <h3 class="box-title">Frequency matrix</h3>
          </div>

          <div class="col-md-9">

            <div class="box-tools pull-right">
              <a href="/api/v1/matrix/{{ matrix.base_id }}.{{ matrix.version }}.jaspar" download target="_blank">
                  <button type="button" class="btn btn-sm btn-primary"><i class="fas fa-download"> </i> JASPAR</button> </a> &nbsp;
              <a href="/api/v1/matrix/{{ matrix.base_id }}.{{ matrix.version }}.transfac" download target="_blank">
                  <button type="button" class="btn btn-sm btn-primary"><i class="fas fa-download"> </i> TRANSFAC</button></a> &nbsp;
              <a href="/api/v1/matrix/{{ matrix.base_id }}.{{ matrix.version }}.meme" download target="_blank">
                  <button type="button" class="btn btn-sm btn-primary"><i class="fas fa-download"> </i> MEME</button></a> &nbsp;
              <a href="/api/v1/matrix/{{ matrix.base_id }}.{{ matrix.version }}.pfm" download target="_blank">
                  <button type="button" class="btn btn-sm btn-primary"><i class="fas  fa-download"> </i> RAW PFM</button></a> &nbsp;&nbsp;&nbsp;
              <!--
              <a href="/download/pfm/{{matrix.base_id}}.{{ matrix.version }}.pfm" target="_blank">
              <button type="button" class="btn btn-sm btn-primary"><i class="fas fa-download"> </i> Download PFM</button>
              </a>
              -->
              <a href='?revcomp={% if request.GET.revcomp %}{% if request.GET.revcomp == "1" %}0 {% else %}1 {% endif %}{% else %}1{% endif %}'>
              <button type="button" class="btn btn-sm btn-success" title="Reverse complement"><i class="fas fa-exchange-alt"> </i> Reverse comp.</button>
              </a>
              <!--
              <button type="button" class="btn btn-sm btn-box-tool" data-widget="collapse"><i class="fas fa-minus"></i>
              </button>
            -->
            </div>
          </div>
        </div>

        <div class="box-body">

          <div class="box-body table-responsive no-padding">
            <table class="table table-hover">

              <tr>
              <th>A&nbsp;[ </th>
              {% for value in A %}
                <td align="left"> {{ value|floatformat:0 }} </td>
              {% endfor %}
              <th>]</th>
              </tr>

              <tr id="frequency-matrix">
              <th>C&nbsp;[ </th>
              {% for value in C %}
                <td align="left"> {{ value|floatformat:0 }} </td>
              {% endfor %}
              <th>]</th>
              </tr>

               <tr>
              <th>G&nbsp;[ </th>
              {% for value in G %}
                <td align="left"> {{ value|floatformat:0 }} </td>
              {% endfor %}
              <th>]</th>
              </tr>

               <tr>
              <th>T&nbsp;[ </th>
              {% for value in T %}
                <td align="left"> {{ value|floatformat:0 }} </td>
              {% endfor %}
              <th>]</th>
              </tr>

            </table>
            </div>

          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">Binding sites information</h3>
            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fas fa-minus"></i></button>
            </div>
          </div>
          <div class="box-body">

            {% if tfbs_info_fasta %}
            <a href="/sites/{{ matrix.base_id }}.{{ matrix.version }}" target="_blank">
              <button type="button" class="btn btn-primary"><i class="fas fa-html5"> </i> HTML file</button> </a> &nbsp;
            <a href="/download/data/{{ data_tag }}/sites/{{ matrix.base_id }}.{{ matrix.version }}.sites" download target="_blank">
              <button type="button" class="btn btn-primary"><i class="fas fa-list-alt"> </i> FASTA file</button></a> &nbsp;

            {% if tfbs_info_bed %}
            <a href="/download/data/{{ data_tag }}/bed/{{ matrix.base_id }}.{{ matrix.version }}.bed" download target="_blank">
              <button type="button" class="btn btn-primary"><i class="fas fa-file-alt"> </i> BED file</button></a>
            {% endif %}

            {% else %}
              <h5><i class="icon fas fa-info-circle"></i> No Binding sites available for this model. </h5>
            {% endif %}

          </div>
        </div>
      </div>

      <div class="col-md-8">
        <div class="box box-primary">
          <div class="box-header with-border">
            <h3 class="box-title">External links</h3>

            <div class="box-tools pull-right">
              <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fas fa-minus"></i>
              </button>
            </div>
          </div>
          <div class="box-body">

            {% for protein in proteins %}
            <a href="http://www.rcsb.org/pdb/protein/{{ protein.acc }}?evtc=Suggest&evta=UniProtAccession&evtl=OtherOptions"
               target="_blank" title="{{ protein.acc }}">
              <img src="{% static 'img/logos/pdb_logo.png' %}" height="30px" style="margin-right: 1em">
            </a>
            {% endfor %}

            {% for protein in proteins %}
            <a href="http://www.uniprot.org/uniprot/{{ protein.acc }}" title="{{ protein.acc }}" target="_blank">
              <img src="{% static 'img/logos/uniprot_logo.png' %}" height="30px" style="margin-right: 1em">
            </a>
            {% endfor %}

            {% for protein in proteins %}
            <a href="https://drv.brc.hu/?jaspar-id={{ matrix.base_id }}.{{ matrix.version }}" target="_blank">
              <img src="{% static 'img/logos/drv_logo.png' %}" height="30px" style="margin-right: 1em">
            </a>
            {% endfor %}

            {% if remap_tf_name and remap_tf_name != '-' %}
            <a href="http://remap.univ-amu.fr/target_page/{{ remap_tf_name }}:{% if species.0.tax_id.tax_id == '3702' %}3702{% else %}9606{% endif %}"
               target="_blank">
              <img src="{% static 'img/logos/remap_v2_logo.png' %}" height="30px" style="margin-right: 1em">
            </a>
            {% endif %}

            {% if unibind and unibind != '-' %}
            <a href="https://unibind.uio.no/search?q={{ matrix.base_id }}.{{ matrix.version }}" target="_blank">
              <img src="{% static 'img/logos/unibind_logo.png' %}" height="30px" style="margin-right: 1em">
            </a>
            {% endif %}

            {% if tfbs_shape_id %}
            <a href="https://tfbsshape.usc.edu/Detail/jaspar/{{ matrix.base_id }}.{{ matrix.version }}" target="_blank">
              <img src="{% static 'img/logos/TFBSshape_logo.png' %}" width="150px" style="margin-right: 1em">
            </a>
            {% endif %}

            <!--
            {% if matrix.collection == "CORE" %}

            <a href="http://www.genecards.org/cgi-bin/carddisp.pl?gene={{ matrix.name }}" target="_blank">
              <img src="{% static 'img/logos/genecards_logo.png' %}" height="30px" style="margin-right: 1em">
            </a>

            {% endif %}
            -->

          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="nav-tabs-custom">
          <ul class="nav nav-tabs" id="detailTabs">
            <li class="active"><a href="#version" data-toggle="tab">
            {% if matrix.collection == 'UNVALIDATED' %}
            Other profiles for the same TF
            {% else %}
            Version information
            {% endif %}
            </a></li>
            <li><a href="#centrality" data-toggle="tab">ChIP-seq centrality</a></li>
            <li id="more-details"><a href="#tfmm_first_order" data-toggle="tab">First order TFFM</a></li>
            <li><a href="#tffm_detailed" data-toggle="tab">Detailed TFFM</a></li>
            <li><a href="#wordclouds" data-toggle="tab">Wordclouds</a></li>
            <li><a href="#details" data-toggle="tab">More details</a></li>
          </ul>
          <div class="tab-content">

            <div class="active tab-pane" id="version">
             <table id="version_table" class="table table-responsive table-bordered table-hover">
              <thead>
              <tr >
                <th>Matrix ID</th>
                <th>Base ID</th>
                <th>Version</th>
                <th>Name</th>
                <th>Species</th>
                <th>Family</th>
                <th>Class</th>
                <th>Sequence logo</th>
              </tr>
              </thead>
              <tbody>
              {% for version in versions %}

                <tr {% if matrix.version == version.version %}style='background-color: #edf0f1;'{% endif %}>
                <td><b><a href="/matrix/{{ version.base_id }}.{{ version.version }}">{{ version.base_id }}.{{ version.version }}</a></b></td>
                <td><b><a href="/matrix/{{ version.base_id }}/versions">{{ version.base_id }}</a></b></td>
                <td><b>{{ version.version }}</b></td>
                <td>{{ version.name }}</td>
                <td>
                {% for val in version.species %}
                  <a href="https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&id={{ val.tax_id }}"
                   target="_blank">
                   {{ val.species }}
                  </a> <br>
                {% endfor %}
                </td>
                <td>{{ version.family|join:"::" }}</td>
                <td>{{ version.class|join:"::" }}</td>
                <td><img class="zoom" src="{% static 'logos/' %}all/svg/{{ version.base_id }}.{{ version.version }}.svg" width="150px" height="50px"></td>
              </tr>
              {% endfor %}
              </tbody>
              <tfoot>
              <tr>
                <td colspan="8" align="right">
                <a href="/api/v1/matrix/{{ matrix.base_id }}/versions.jaspar" download target="_blank">
                <button type="button" class="btn btn-sm btn-warning"><i class="fas fa-download"> </i> JASPAR</button> </a> &nbsp;
                <a href="/api/v1/matrix/{{ matrix.base_id }}/versions.transfac" download target="_blank">
                <button type="button" class="btn btn-sm btn-warning"><i class="fas fa-download"> </i> TRANSFAC</button></a> &nbsp;
                <a href="/api/v1/matrix/{{ matrix.base_id }}/versions.meme" download target="_blank">
                <button type="button" class="btn btn-sm btn-warning"><i class="fas fa-download"> </i> MEME</button></a> &nbsp;
                <a href="/api/v1/matrix/{{ matrix.base_id }}/versions.pfm" download target="_blank">
                <button type="button" class="btn btn-sm btn-warning"><i class="fas fa-download"> </i> RAW PFM</button></a>
                </td>
              </tr>
              </tfoot>
            </table>

            </div>

            <div class="tab-pane" id="centrality">

              {% if centrality_logp %}
              <h4>log(P-value) = {{ centrality_logp }}</h4>
              <img src="/download/data/{{ data_tag }}/centrality/{{ matrix.base_id }}.{{ matrix.version }}.png" height="500px">
              {% else %}
              <div class="alert alert-info alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <i class="icon fas fa-info"></i>There is no centrality information of the model.
              </div>
              {% endif %}

            </div>

            <div class="tab-pane" id="tfmm_first_order">
              {% if tffm == None %}
              <div class="alert alert-info alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <i class="icon fas fa-info"></i>TFFM first order profile doesn't exist for this profile.
              </div>

              {% else %}

              <div class="row">
                <div class="col-md-4">
                  <div class="box box-solid">
                    <div class="box-header with-border">
                      <i class="fas fa-table"></i>
                      <h3 class="box-title">TFFM details</h3>
                    </div>
                    <div class="box-body">
                      <div class="box-body table-responsive no-padding">
                      <table class="table table-hover">
                        <tr>
                          <th>TFFM ID: </th>
                          <td> {{ tffm.base_id }}.{{ tffm.version}} </td>
                        </tr>
                        <!--
                        <tr>
                          <th>Experiment name: </th>
                          <td> {{ tffm.experiment_name }} </td>
                        </tr>
                        -->
                        {% if tffm.log_p_1st_order != None %}
                        <tr>
                          <th colspan="2"> <h4> ChIP-seq Centrality</h4></th>
                        </tr>
                        <tr>
                          <th>log(P-value): </th>
                          <td> {{ tffm.log_p_1st_order }} </td>
                        </tr>
                        {% endif %}
                      </table>
                      {% if tffm.log_p_1st_order != None %}
                      <p>
                        <img src="{% static 'TFFM/' %}{{ tffm.base_id }}.{{ tffm.version }}/TFFM_first_order_trained.hits.svg" width="100%">
                      </p>
                      {% endif %}

                      <p>
                      <a href="{% static 'TFFM/' %}{{ tffm.base_id }}.{{ tffm.version }}/TFFM_first_order_trained.xml" target="_blank">
                       <button type="button" class="btn btn-primary"><i class="fas fa-file-code"> </i> TFFM as XML</button> </a>
                      <a href="http://www.cisreg.ca/TFFM/doc/" target="_blank">
                        <button type="button" class="btn btn-primary"><i class="fas fa-book"> </i> TFFM Docs and API </button></a>
                      </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="box box-solid">
                    <div class="box-header with-border">
                      <i class="fas fa-image"></i>
                      <h3 class="box-title">TFFM first order summary logos</h3>
                      <div class="box-tools pull-right">
                      <a href="{% static 'TFFM/' %}{{ tffm.base_id }}.{{ tffm.version }}/TFFM_first_order_trained_dense_logo.svg" target="_blank">
                        <button type="button" class="btn btn-primary"><i class="fas fa-download"> </i> Download SVG</button>
                      </a>
                      </div>
                    </div>
                    <!-- /.box-header -->
                    <div class="box-body">
                      <img src="{% static 'TFFM/' %}{{ tffm.base_id }}.{{ tffm.version }}/TFFM_first_order_trained_dense_logo.svg" width="100%">
                      <img src="{% static 'TFFM/' %}{{ tffm.base_id }}.{{ tffm.version }}/TFFM_first_order_trained_summary_logo.svg" width="100%">
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
            </div>

            <div class="tab-pane" id="tffm_detailed">
              {% if tffm == None %}
              <div class="alert alert-info alert-dismissible">
                <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                <i class="icon fas fa-info"></i>TFFM detailed profile doesn't exist for this profile.
              </div>
              {% else %}
              <div class="row">
                <div class="col-md-4">
                  <div class="box box-solid">
                    <div class="box-header with-border">
                      <i class="fas fa-table"></i>
                      <h3 class="box-title">TFFM details</h3>
                    </div>
                    <div class="box-body">
                      <div class="box-body table-responsive no-padding">
                      <table class="table table-hover">
                        <tr>
                          <th>TFFM ID: </th>
                          <td> {{ tffm.base_id }}.{{ tffm.version}} </td>
                        </tr>
                        <!--
                        <tr>
                          <th>Experiment name: </th>
                          <td> {{ tffm.experiment_name }} </td>
                        </tr>
                        -->
                        {% if tffm.log_p_detailed != None %}
                        <tr>
                          <th colspan="2"> <h4> ChIP-seq Centrality</h4></th>
                        </tr>
                        <tr>
                          <th>log(P-value): </th>
                          <td> {{ tffm.log_p_detailed }} </td>
                        </tr>
                      {% endif %}
                      </table>
                      {% if tffm.log_p_detailed != None %}
                      <p>
                        <img src="{% static 'TFFM/' %}{{ tffm.base_id }}.{{ tffm.version }}/TFFM_detailed_trained.hits.svg" width="100%">
                      </p>
                      {% endif %}
                      <p>
                      <a href="{% static 'TFFM/' %}{{ tffm.base_id }}.{{ tffm.version }}/TFFM_detailed_trained.xml" target="_blank">
                       <button type="button" class="btn btn-primary"><i class="fas fa-file-code"> </i> TFFM as XML</button> </a>
                      <a href="http://www.cisreg.ca/TFFM/doc/" target="_blank">
                        <button type="button" class="btn btn-primary"><i class="fas fa-book"> </i> TFFM Docs and API </button></a>
                      </p>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-8">
                  <div class="box box-solid">
                    <div class="box-header with-border">
                      <i class="fas fa-image"></i>
                      <h3 class="box-title">TFFM detailed summary logos</h3>
                      <div class="box-tools pull-right">
                      <a href="{% static 'TFFM/' %}{{ tffm.base_id }}.{{ tffm.version }}/TFFM_detailed_trained_dense_logo.svg" target="_blank">
                        <button type="button" class="btn btn-md btn-primary"><i class="fas fa-download"> </i> Download SVG</button>
                      </a>
                      </div>
                    </div>
                    <div class="box-body">
                      <img src="{% static 'TFFM/' %}{{ tffm.base_id }}.{{ tffm.version }}/TFFM_detailed_trained_dense_logo.svg" width="100%">
                      <img src="{% static 'TFFM/' %}{{ tffm.base_id }}.{{ tffm.version }}/TFFM_detailed_trained_summary_logo.svg" width="100%">
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
            </div>

            <div class="tab-pane" id="wordclouds">
              {% for wordcloud in wordclouds %}
              <img src="{% static 'wordclouds/' %}{{ wordcloud }}" />
              {% endfor %}
            </div>

            <div class="tab-pane" id="details">
              <p><b>Description:</b> {{ description }}</p>
              <p><b>Alias:</b> {{ alias }} </p>
              <p><b>Symbol:</b> {{ symbol }} </p>
              <p><b>Consensus:</b> {{ consensus }} </p>
              <p><b>Included Models:</b> {{ included_models }} </p>
              <p><b>GC Content:</b> {{ gc_content }} </p>
            </div>

          </div>
        </div>
      </div>
    </div>

{% endblock %}

{% block javascript %}

{% include "portal/tour.html" %}

  <script type="text/javascript">
    $(function () {
      $('#version_table').DataTable({
        "paging": false,
        "lengthChange": false,
        "searching": false,
        "info": true,
        "autoWidth": true,
        "bProcessing": true,
        "bScrollInfinite": true,
        "fixedHeader": false,
        "bLengthChange": true,
        "searchHighlight": true,
        "order": [[ 2, "desc" ]],
        "responsive": true,
        "aoColumnDefs": [
           { "bSortable": false, "aTargets": [7] }
          ],
      });
    });
  </script>

{% endblock %}
