{% extends 'portal/base.html' %}

{% load static %}
{% load bootstrap %}

{% block advertising %}
{% endblock %}

{% block title %}
{{ matrix_id }}
{% endblock %}

{% block content_header %}
Matrix profile <b>{{ matrix_id }} </b>
{% endblock %}

{% block breadcrumb %}
  <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
  <li class="active">Matrix &gt; {{ matrix_id }}</li>
{% endblock %}

{% block content %}

    <div class="row">
      <div class="col-md-12">
        <div class="alert alert-info alert-dismissible">

          {% if last_release < release.year %}

          <p><i class="icon fas fa-info"></i> This matrix was removed, being
          present from the JASPAR {{ first_release }} release up to and
          including the JASPAR {{ last_release }} release. For more details, see
          the

          <a href="/profile-versions/#{{ base_id }}">version history</a>

          of this matrix profile.</p>

          {% elif first_release %}

          <p><i class="icon fas fa-info"></i> This matrix was introduced in the
          later JASPAR {{ first_release }} release.

          {% else %}

          <p><i class="icon fas fa-info"></i> This matrix is not recognised.</p>

          {% endif %}

        </div>
      </div>
    </div>

{% endblock %}

{% block javascript %}
{% endblock %}
