 <aside class="control-sidebar control-sidebar-light">
   
    <!-- Tab panes -->
    <div class="tab-content">
      <!-- Home tab content -->
      <div class="tab-pane active" id="control-sidebar-home-tab">
        <h3 class="control-sidebar-heading"><b> <i class="fas fa-bullhorn"> News & Updates</i> </b></h3>
      
        <ul class="timeline">
          <!-- timeline time label -->
          <li class="time-label">
              <span class="bg-red">
                  15 May. 2017
              </span>
          </li>
          <!-- /.timeline-label -->

          <!-- timeline item -->
          <li>
              <!-- timeline icon -->
              <i class="fas fa-globe bg-blue"></i>
              <div class="timeline-item">
                  <div class="timeline-body">
                      Welcome to our new website!
                  </div>
                  <div class="timeline-footer">
                      <a class="btn btn-primary btn-xs" href="/about">More ...</a>
                  </div>
              </div>
          </li>
          <!-- END timeline item -->

          <!-- timeline time label -->
          <li class="time-label">
              <span class="bg-green">
                  15 May. 2017
              </span>
          </li>
          <!-- /.timeline-label -->

          <!-- timeline item -->
          <li>
              <!-- timeline icon -->
              <i class="fas fa-envelope bg-blue"></i>
              <div class="timeline-item">
                  <div class="timeline-body">
                      Released RESTful API!
                  </div>
                  <div class="timeline-footer">
                      <a class="btn btn-primary btn-xs" href="/api">More ...</a>
                  </div>
              </div>
          </li>
          <!-- END timeline item -->
      </ul>

      <a href="/blog">View all news</a>

      </div>

    </div>
  </aside>
  <!-- /.control-sidebar -->
  <!-- Add the sidebar's background. This div must be placed
       immediately after the control sidebar -->
  <div class="control-sidebar-bg"></div>
