{% extends 'portal/base.html' %}

{% load static %}

{% block title %}
Profile Inference results
{% endblock %}

{% block content_header %}
Profile Inference results
{% endblock %}

{% block breadcrumb %}
  <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
  <li><a href="/inference"><i class="fas fa-sliders-h"></i> Inference</a></li>
  <li class="active">Results</li>
{% endblock %}

{% block content %}

  <div class="row">
    <form action="/analysis" id="analysis_form" method="POST">
      {% csrf_token %}
      <input type="hidden" name="inference_data" value="true">

      <div class="col-xs-12 col-md-9 col-xl-9">
        <div class="box box-primary">
          <div class="box-header">
            <h3 class="box-title"> Total <b>{{ matrices|length }}</b> profile(s) inferred </h3>
          </div>
          <!-- /.box-header -->
          <div class="box-body">
            <table id="search_table" class="table table-bordered table-responsive table-hover" width="100%">
              <thead>
                <tr>
                  <th><input title="Select all profiles" type="checkbox" name="selectAll" id="check-all"
                             class="flat-red" data-toggle="tooltip" data-placement="bottom" /></th>
                  <th>Matrix ID</th>
                  <th>Name</th>
                  <th>DBD</th>
                  <th>E-value</th>
                  <th>Sequence logo</th>
                </tr>
              </thead>
              <tbody>

                {% for matrix in matrices %}
                <tr>
                  <td><input type="checkbox" name="matrix_id" value="{{ matrix.id }}"
                             class="flat-red" data-validation="checkbox_group" data-validation-qty="min1"></td>
                  <td><b><a href="/matrix/{{ matrix.matrix_id }}">{{ matrix.matrix_id }}</a></b></td>
                  <td>{{ matrix.name }}</td>
                  <td>{{ matrix.dbd }}</td>
                  <td>{{ matrix.evalue }}</td>
                  <td><img class="zoom" src="{% static 'logos/' %}all/svg/{{ matrix.matrix_id }}.svg"
                           width="150px" height="50px" title="Click to view details"></td>
                </tr>
                {% endfor %}

              </tbody>
              <tfoot>
              </tfoot>
            </table>
          </div>
          <!-- /.box-body -->
        </div>
        <!-- /.box -->

      </div>

      <div class="col-xs-12 col-md-3 col-xl-3">
        {% include "portal/analysis_modules.html" %}
      </div>

    </form>
  </div>
  {% block javascript %}

  <script>

  $.validate({
    modules : 'location, date, security, file',
    onModulesLoaded : function() {

    }
  });

  // Restrict presentation length
  $('#scan_sequence').restrictLength( $('#pres-max-length') );

</script>

     <script type="text/javascript">
      $('#fill').click(
    function(){
        $('#scan_sequence').val($(this).val());
          }
      );
    </script>


  {% endblock %}

{% block datatable %}
<script>
  $(function () {
    $('#search_table').DataTable({
      "paging": true,
      "lengthChange": true,
      "searching": true,
     // "ordering": true,
      "info": true,
      "autoWidth": true,
      "bProcessing": true,
      "bScrollInfinite": true,
      "fixedHeader": false,
      "bLengthChange": true,
      "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
      "searchHighlight": true,
      "order": [[ 2, "dsc" ]],
      "responsive": true,
      //"sScrollY": "100%",
      "aoColumnDefs": [
         { "bSortable": false,
          "aTargets": [0,5] }
                      ],
      "oLanguage": {
                     "sSearch": "Filter:",
                     "sLengthMenu": "Display _MENU_ profiles",
                   },
        'dom': 'lfrtipB',
        'buttons': [
        'copy', 'csv'
           ],
    });
  });
</script>
{% endblock %}

{% endblock %}
