{% extends 'portal/base.html' %}

{% load static %}

{% block title %}
JASPAR profile versions
{% endblock %}

{% block content_header %}
JASPAR profile versions
{% endblock %}

{% block breadcrumb %}
  <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
  <li class="active">Profile versions</li>
{% endblock %}

{% block content %}

  <div class="row">
    <div class="col-md-12">
      <div class="alert alert-info alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

        <span class="label label-danger">Note:</span> A logo is only shown when
        it first appears or changes, with the exception that it always appears
        in the latest JASPAR {{ release.year }} column if the profile has not
        been removed. This is to emphasise that the profile is still considered
        active, even if it did not change since the introduction of its most
        recent version, in contrast to any profile that has been removed and
        will therefore not appear in the latest release.

      </div>

      <div class="panel panel-default" style = 'overflow-x: scroll', width="100%">
        <div class="panel-body">

          <table id="jaspar_version_profile" class="table table-bordered table-hover" cellspacing="0" width="100%">

            <thead>
              <tr>
                <th rowspan="2">ID</th>
                <th rowspan="2">Name</th>
                <th colspan="{{ releases|length }}">JASPAR profile versions</th>
              </tr>
              <tr>
                {% for release in releases %}
                <th class="no-sort">
                  {% if release in actual_releases %}
                  {{ release }}
                  {% endif %}
                </th>
                {% endfor %}
              </tr>
            </thead>

            <tbody>
              {% for profile in profiles %}
              <tr>
                <th>{{ profile.base_id }}</th>
                <td>{{ profile.name }}</td>

                {% for profile_version in profile.profile_versions %}

                {% if not profile_version %}

                <td></td>

                {% elif profile_version.status == "removed" %}

                <td>removed</td>

                {% else %}

                <td title="{{ profile_version.matrix_id }}"
                  {% if profile_version.status %} class="bg-success" {% endif %}>

                  <a href="/matrix/{{ profile_version.matrix_id }}/">
                    <img alt="{{ profile_version.matrix_id }}"
                         src="{% static 'logos/' %}all/versions/{{ profile_version.matrix_id }}.png">
                  </a>
                </td>

                {% endif %}

                {% endfor %}

              </tr>
              {% endfor %}
            </tbody>

          </table>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block javascript %}

{% endblock %}

{% block datatable %}

  <script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
      $('#jaspar_version_profile').dataTable( {
        "processing": true,
        "fixedHeader": false,
        "lengthChange": true,
        "lengthMenu": [[10, 25, 50, 100, -1], [10, 25, 50, 100, "All"]],
        "searchHighlight": true,
        "info": true,
        "responsive": true,
        "scrollY": "60vh",
        "scrollX": true,
        "columnDefs": [
          { "orderable": true, "targets": [ 0, 1 ] },
          { "orderable": false, "targets": "_all" }
          ],
        "language": {
          "search": "Search based on ID/Name:",
          "lengthMenu": "Display _MENU_ profiles",
          },
        "search": {
          "search": window.location.hash.substr(1),
          },
      } );
    } );
  </script>

{% endblock %}
