{% load bootstrap %}

<div class="col-md-12 col-lg-12 col-xs-12">
  <div class="box box-primary">
    <div class="box-body">
      <form id="quick_search" method="get" action="/search">
        <div class="input-group input-group-lg">
          <input type="text" id="jaspar-search" value="{{ request.GET.q }}" class="form-control" autocomplete="off" name="q" placeholder="Search JASPAR database..." data-toggle="tooltip" data-placement="bottom" title="You can search by TF name or ID, species, taxon, UniProt ID or any other keyword."/>
          <span class="input-group-btn">
          <button class="btn btn-primary btn-flat" type="submit">Search <i class="fas fa-search"></i></button>
          </span>
        </div>
        <div class="form-group">
          <b>Examples:</b>
          <a href="/search?q=SPI1&collection=CORE&tax_group=vertebrates">SPI1</a>,
          <a href="/search?q=P17676&collection=CORE&tax_group=vertebrates"> P17676</a>,
          <a href="/search?q=ChIP-seq&collection=CORE&tax_group=vertebrates"> ChIP-seq</a>,
          <a href="/search?q=Homo sapiens&collection=CORE&tax_group=vertebrates"> Homo sapiens</a>

          <a role="button" class="pull-right" data-toggle="collapse" href="#advanced-search" aria-expanded="false" aria-controls="advanced-search"><strong>Advanced Options</strong></a>
        </div>

        <div class="collapse {% if have_advanced %} in {% endif %}" id="advanced-search">
          <hr>

          <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
              <div class="form-group">
                <label class="col-sm-3 control-label" for="collection">Collection: </label>
                <div class="col-sm-9">

                  <select name="collection" class="form-control">
                    <option value="all"> All collection</option>
                    {% for collection in collections %}
                    <option value="{{ collection.collection }}" {% if request.GET.collection == collection.collection %} selected {% endif %}> {{ collection.collection }}</option>
                    {% endfor %}
                  </select>

                </div>
              </div>
            </div>
            <div class="col-sm-5">
              <div class="form-group">
                <label class="col-sm-3 control-label" for="tax_group">Taxon: </label>
                <div class="col-sm-9">
                  <select name="tax_group" class="form-control">
                    <option value="all"> All taxonomic groups</option>
                    {% for tax_group in tax_groups %}
                    <option value="{{ tax_group.val }}" {% if request.GET.tax_group == tax_group.val %} selected {% endif %}> {{ tax_group.val|title }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-1"></div>
          </div>

          <br>
          <div class="row">
            <div class="col-sm-1"></div>
              <div class="col-sm-5">
              <div class="form-group">
                <label class="col-sm-3 control-label" for="tax_id">Species: </label>
                <div class="col-sm-9">
                  <select name="tax_id" class="form-control">
                    <option value="all" {% if request.GET.tax_id == "all" %} selected {% endif %}> All species</option>
                    {% for tax in tax_ids %}
                    <option value="{{ tax.tax_id }}" {% if request.GET.tax_id == tax.tax_id|striptags %} selected {% endif %}> {{ tax.species }}</option>
                    {% endfor %}
                  </select>

                </div>
              </div>
            </div>
            <div class="col-sm-5">
              <div class="form-group">

                <label class="col-sm-3 control-label" for="type">Data type: </label>
                <div class="col-sm-9">
                  <select name="type" class="form-control">
                    <option value="all"> All data types</option>
                    {% for type in exp_type %}
                    <option value="{{ type.val }}" {% if request.GET.type == type.val %} selected {% endif %}> {{ type.val }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-1"></div>
          </div>

          <br>

          <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
              <div class="form-group">

                <label class="col-sm-3 control-label" for="class">Class: </label>
                <div class="col-sm-9">
                  <select name="class" class="form-control">
                    <option value="all"> All classes</option>
                    {% for class in tf_class %}
                    <option value="{{ class.val }}" {% if request.GET.class == class.val %} selected {% endif %}> {{ class.val }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-5">
              <div class="form-group">

                <label class="col-sm-3 control-label" for="family">Family: </label>
                <div class="col-sm-9">
                  <select name="family" class="form-control">
                    <option value="all"> All families</option>
                    {% for family in tf_family %}
                    <option value="{{ family.val }}" {% if request.GET.family == family.val %} selected {% endif %}> {{ family.val }}</option>
                    {% endfor %}
                  </select>
                </div>
              </div>
            </div>
            <div class="col-sm-1"></div>
          </div>

          <br>
          <div class="row">
            <div class="col-sm-1"></div>
            <div class="col-sm-5">
              <div class="form-group">
                <label class="col-sm-3 control-label" for="version">Versions: </label>
                <div class="col-sm-9">
                  <select name="version" class="form-control">
                    <option value="all" {% if request.GET.version == "all" %} selected {% endif %}> All versions</option>
                    <option value="latest" {% if request.GET.version == "latest" %} selected {% endif %}> Latest version</option>
                  </select>

                </div>
              </div>
            </div>
            <!--
            <div class="col-sm-5">
              <div class="form-group">

                <label class="col-sm-3 control-label" for="has_tffm">Has TFFM? </label>
                <div class="col-sm-9">
                  <input type="checkbox" class="form-control flat-red" name="has_tffm" value="1" {% if request.GET.has_tffm == "1" %} checked {% endif %}> Select profile(s) which have TFFM
                </div>
              </div>
            </div>
            -->
            <div class="col-sm-1"></div>
          </div>

          <hr>
        </div>
      </form>
    </div>
  </div>
</div>
