{% extends 'portal/base.html' %}
{% load static %}

{% block title %}
  {% if request.view == 'versions' %} Profile versions {% else %} Search profile(s){% endif %}
{% endblock %}

{% block content_header %}
  {% if request.view == 'versions' %} Profile versions {% else %} Search profile(s){% endif %}
{% endblock %}

{% block breadcrumb %}
  <li><a href="/"><i class="fas fa-home"></i> Home</a></li>
  <li class="active">Search</li>
{% endblock %}

{% block stylesheets %}

<style type="text/css">

  /* Override annoying JavaScript library chaos. */

  /* Override the container positioning which stops any kind of sensible error
     element positioning. */

  #search_table .has-error {
    position: static !important;
  }

  /* Make form errors appear relative to the container as a pop-up element. */

  #search_table .form-error {
    position: absolute;
    margin: 0 2em;
    padding: 1em;
    border: 2px solid;
    background-color: white;
  }
</style>

{% endblock %}

{% block content %}

  <div class="row">
  {% include "portal/quick_search.html" %}
  </div>

  {% if message %}
  <div class="alert alert-danger alert-dismissible">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <i class="icon fas fa-info"></i> {{ message }}
  </div>
  {% endif %}

  {% if request.GET.q or request.GET.q == '' or request.view == 'versions' %}
  <div class="row">

    <div class="col-xs-12 col-md-9 col-xl-9">
      <div class="box box-primary">
        <div class="box-header">
          <h3 class="box-title"> <b>{{ pages.paginator.count }} </b>
            {% if request.view == 'versions' %} version(s) {% else %} profile(s) {% endif %} found</h3>
        </div>

        <div class="box-body">

          {% include "portal/pagination_size.html" %}

          <form action="/analysis" method="POST" id="analysis_form">
          {% csrf_token %}

          {% if request.view == 'versions' %}
            <input type="hidden" name="profile_data" value="True">
          {% endif %}

          {% if request.GET.cart == '1' %}
          <div class="alert alert-success alert-dismissible">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <i class="icon fas fa-cart-plus"></i> {{ request.session.message }}
          </div>
          {% endif %}

          {% if matrices|length == 0 or matrices == None %}
          <div class="alert alert-danger alert-dismissible">
              <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
              <i class="icon fas fa-info"></i> Please use the above search box to find profile(s) you are interested in.
          </div>
          {% endif %}

          <table id="search_table" class="table table-responsive table-bordered table-hover" width="100%">
            <thead>
              <tr>
                <th><input data-toggle="tooltip" data-placement="bottom"
                           title="Select all profiles" type="checkbox"
                           class="flat-red" name="selectAll" id="check-all" /></th>
                <th>ID</th>
                <th>Name</th>
                <th>Species</th>
                <th>Class</th>
                <th>Family</th>
                <th>Logo</th>
              </tr>
            </thead>
            <tbody>
              {% for matrix in matrices %}
              <tr>
                <td><input type="checkbox" name="matrix_id" value="{{ matrix.id }}"
                           data-validation="checkbox_group" class="flat-red"
                           data-validation-qty="min1"></td>

                <td {% if matrix.id %}id='profile_summary' {% endif %}>
                  <b><a href="/matrix/{{ matrix.base_id }}.{{ matrix.version }}">{{ matrix.base_id }}.{{ matrix.version }}</a></b></td>
                <td>{{ matrix.name }}</td>
                <td>
                  {% for val in matrix.species %}

                  <a href="https://www.ncbi.nlm.nih.gov/Taxonomy/Browser/wwwtax.cgi?mode=Info&amp;id={{ val.tax_id }}"
                     target="_blank">{{ val.species }}</a><br>

                  {% endfor %}
                </td>
                <td>{{ matrix.class|join:"::" }} </td>
                <td>{{ matrix.family|join:"::" }} </td>
                <td>
                <a href="/matrix/{{ matrix.base_id }}.{{ matrix.version }}">
                  <img class="zoom" src="{% static 'logos/' %}all/svg/{{ matrix.base_id }}.{{ matrix.version }}.svg" width="150px" height="50px" title="Click to view details"></a>
                </td>
              </tr>
              {% endfor %}
            </tbody>
            <tfoot>
            </tfoot>
          </table>

          <span class="pull-left"> Showing <b>{{ matrices|length }}</b> profiles
            of page <b>{{ pages.number }}</b> from <b>{{ pages.paginator.num_pages }}</b>
            pages</span>

            <ul class="pagination pull-right">

              {% if pages.has_previous %}
              <li><a href="?page={{ pages.previous_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&amp;{{ key }}={{ value }}{% endif %}{% endfor %}"><i class="fas fa-chevron-left" aria-hidden="true"></i> Previous</a></li>
              {% else %}
              <li class="disabled"><span><i class="fas fa-chevron-left" aria-hidden="true"></i></span></li>
              {% endif %}

              {% if pages.number|add:'-4' > 1 %}
                  <li><a href="?page={{ pages.number|add:'-5' }}{% for key, value in request.GET.items %}{% if key != 'page' %}&amp;{{ key }}={{ value }}{% endif %}{% endfor %}">&hellip;</a></li>
              {% endif %}

              {% for i in pages.paginator.page_range %}
                  {% if pages.number == i %}
                      <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% elif i > pages.number|add:'-5' and i < pages.number|add:'5' %}
                      <li><a href="?page={{ i }}{% for key, value in request.GET.items %}{% if key != 'page' %}&amp;{{ key }}={{ value }}{% endif %}{% endfor %}">{{ i }}</a></li>
                  {% endif %}
              {% endfor %}

              {% if pages.paginator.num_pages > pages.number|add:'4' %}
                  <li><a href="?page={{ pages.number|add:'5' }}{% for key, value in request.GET.items %}{% if key != 'page' %}&amp;{{ key }}={{ value }}{% endif %}{% endfor %}">&hellip;</a></li>
              {% endif %}

              {% if pages.has_next %}
                  <li><a href="?page={{ pages.next_page_number }}{% for key, value in request.GET.items %}{% if key != 'page' %}&amp;{{ key }}={{ value }}{% endif %}{% endfor %}">Next <i class="fas fa-chevron-right" aria-hidden="true"></i></a></li>
              {% else %}
                  <li class="disabled"><span><i class="fas fa-chevron-right" aria-hidden="true"></i></span></li>
              {% endif %}

            </ul>
          </div>
        </div>
      </div>

      <div class="col-xs-12 col-md-3 col-xl-3">
        {% include "portal/analysis_modules.html" %}
      </div>
    </form>

  </div>
{% endif %}

{% endblock %}

{% block javascript %}

  <script type="text/javascript">
    // Restrict presentation length
    $('#scan_sequence').restrictLength( $('#pres-max-length') );
  </script>

  <script type="text/javascript">
    $('#fill').click(function() {
      $('#scan_sequence').val($(this).val());
    });

    $("#page_size").change(function() {
      $("#page_size_form").submit();
    });
  </script>

  <script type="text/javascript">
    $('#scan_button').click(function() {
      if ($('#scan_sequence').val().charAt(0) != ">") {
         $('#fasta_format_model').modal('show');
      }
    });
  </script>

  <div id="fasta_format_model" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Input sequence is not FASTA-formatted</h4>
        </div>
        <div class="modal-body">
          <p>Your input sequence is not FASTA-formatted to scan with selected matrix models. <br><br>
            Read more about <a href="https://en.wikipedia.org/wiki/FASTA_format" target="_blank">FASTA format</a>.
            Or you can click and load the example sequence.</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>

{% include "portal/tour.html" %}

{% endblock %}

{% block datatable %}

  <script>
    $(function () {
      $('#search_table').DataTable({
        "paging": false,
        "lengthChange": false,
        "searching": true,
        "info": false,
        "autoWidth": true,
        "bProcessing": true,
        "bScrollInfinite": true,
        "fixedHeader": false,
        "bLengthChange": false,
        "searchHighlight": true,
        "order": [[ 1, "asc" ]],
        "responsive": true,
        "aoColumnDefs": [
          { "bSortable": false, "aTargets": [0,6] }
          ],
        "oLanguage": {
          "sSearch": "Filter:",
          "sLengthMenu": "Display _MENU_ profiles",
          },
        'dom': 'lfrtipB',
          'buttons': [ 'copy', 'csv' ],
        });
      });
  </script>

{% endblock %}
