{% load static %}

<aside class="main-sidebar">

  <!-- sidebar: style can be found in sidebar.less -->
  <section class="sidebar">

    <ul class="sidebar-menu">
      <!-- Optionally, you can add icons to the links -->

      <li class="{% if request.view == 'index' %}active{% endif %}">
          <a href="/"><i class="fas fa-home"></i> <span>Home</span></a>
      </li>

      <li class="treeview {% if request.view == 'about' or request.view == 'faq' or request.view == 'docs' or request.view == 'changelog' %}active{% endif %}">

        <a href="#"><i class="fas fa-info-circle"></i><span> About</span>
          <span class="pull-right-container"><i class="fas fa-angle-left pull-right"></i></span></a>

        <ul class="treeview-menu">
          <li class="{% if request.view == 'about' %}active{% endif %}">
            <a href="{% url 'about' %}"><i class="fas fa-info-circle"></i> <span>About JASPAR</span></a>
          </li>
          <li class="{% if request.view == 'faq' %}active{% endif %}">
            <a href="/faq"><i class="fas fa-question-circle"></i> <span>FAQ</span></a>
          </li>
          <li class="{% if request.view == 'docs' %}active{% endif %}">
            <a href="/docs"><i class="fas fa-book"></i> <span>Documentation</span></a>
          </li>
          <li class="{% if request.view == 'changelog' %}active{% endif %}">
            <a href="/changelog"><i class="fas fa-history"></i> <span>Changelog</span></a>
          </li>
        </ul>
      </li>

      <li class="{% if request.view == 'search' %}active{% endif %}">
        <a href="/search?advanced=true"><i class="fas fa-search"></i><span> Search</span></a>
      </li>

      <li class="{% if request.collection == 'CORE' %}active{% endif %}">
        <a href="/collection/core"><i class="fas fa-folder-open"></i><span> Browse JASPAR CORE</span></a>
      </li>

      <li class="{% if request.collection == 'UNVALIDATED' %}active{% endif %}">
        <a href="/collection/unvalidated"><i class="fas fa-exclamation-triangle"></i><span> Unvalidated Profiles</span></a>
      </li>

      <li class="treeview {% if request.view == 'collection' and request.collection != 'CORE' and request.collection != 'UNVALIDATED' %}active{% endif %}" id="jaspar-browse">

        <a href="#"><i class="fas fa-folder-open"></i><span> Browse Collections</span>
              <span class="pull-right-container"><i class="fas fa-angle-left pull-right"></i></span>
        </a>
        <ul class="treeview-menu">

          {% for collection in collection_names %}

          <li class="{% if request.collection == collection %}active{% endif %}">
            <a href="/collection/{{ collection }}"><i class="fas fa-circle"></i> <span>JASPAR {{ collection }}</span></a>
          </li>

          {% endfor %}

        </ul>
      </li>

      <li class="treeview {% if request.view == 'tools' or request.view == 'align' or request.view == 'inference' %}active{% endif %}">
        <a href="#"><i class="fas fa-wrench"></i><span> Tools</span>
            <span class="pull-right-container"><i class="fas fa-angle-left pull-right"></i></span></a>

        <ul class="treeview-menu">

          {% if have_inference %}

          <li class="{% if request.view == 'inference' %}active{% endif %}" id="profile-inference">
            <a href="/inference"><i class="fas fa-sync"></i> <span>Profile Inference</span></a>
          </li>

          {% endif %}

          <li class="{% if request.view == 'align' %}active{% endif %}">
            <a href="/align"><i class="fas fa-align-center"></i> <span>Matrix Align</span></a>
          </li>
          <li class="{% if request.view == 'tools' %}active{% endif %}">
            <a href="/tools"><i class="fas fa-wrench"></i> <span>External tools</span></a>
          </li>
        </ul>
      </li>

      <li><a href="/api/" target="_blank"><i class="fas fa-plug"></i> <span> RESTful API </span></a></li>
      <li class="{% if request.view == 'downloads' %}active{% endif %}>">
        <a href="/downloads"><i class="fas fa-download"></i> <span>Download Data</span></a>
      </li>

      {% if have_clustering %}

      <li class="{% if request.view == 'cluster' %}active{% endif %}">
        <a href="/matrix-clusters"><i class="fab fa-delicious"></i> <span>Matrix Clusters</span></a>
      </li>

      {% endif %}

      <li class="{% if request.view == 'tracks' %}active{% endif %}">
        <a href="/genome-tracks"><i class="fas fa-map-marker"></i> <span>Genome Tracks</span></a>
      </li>
      <li class="{% if request.view == 'enrichment' %}active{% endif %}">
        <a href="/enrichment"><i class="fas fa-star"></i> <span>Enrichment Analysis</span>
          <span class="label label-warning">New</span></a>
      </li>
    </ul>
  </section>
</aside>
