  <!-- JASPAR tour stages. -->

  <script type="text/javascript">
    var tour = {
      id: 'jaspar-home',
      showPrevButton: true,
      scrollDuration: 700,
      steps: [
        {
          title: 'Browse JASPAR CORE',
          content: 'Browse JASPAR <strong>CORE</strong> database for six different taxonomic groups.',
          target: 'jaspar-core',
          placement: 'bottom',
          xOffset: "center",
          arrowOffset: "center",
          onNext: function() {
            $('#jaspar-search').val('Gata3');
          }
        },

        {
          title: 'Search JASPAR database',
          content: "You can search by TF name or ID, species, taxon, UniProt ID or any other keyword.",
          target: 'jaspar-search',
          placement: 'bottom',
          multipage: true,
          onNext: function() {
            window.location = '/search?q=Gata3&collection=all&tax_group=all&version=all&type=all';
          }
        },

        {
          title: 'Search results table',
          content: 'A list of profiles found for your search criteria.',
          target: 'search_table',
          placement: 'top',
          xOffset: "center",
          arrowOffset: "left",
          onPrev: function() {
            window.location = '/';
          },
          onNext: function() {
            $('#check-all').iCheck('check');
          }
        },

        {
          title: 'Add to cart',
          content: 'Select profiles and add to cart to perform analysis or to download.',
          target: 'cart',
          placement: 'left',
          arrowOffset: "right",
        },

        {
          title: 'Perform analysis',
          content: 'Use the selected profiles to perform analysis or download right away.',
          target: 'randomize_outer',
          placement: 'left',
          arrowOffset: "right",
          onPrev: function() {
            $('#check-all').iCheck('check');
          },
          onNext: function() {
            $('#check-all').iCheck('uncheck');
          }
        },

        {
          title: "View profile summary and versions",
          content: "View a detailed profile summary and versions page.",
          target: "profile_summary",
          placement: "bottom",
          multipage: true,
          onNext: function() {
            window.location = '/matrix/MA0037.2';
          }
        },

        {
          title: 'Profile summary',
          content: 'A detail summary box of individual profile',
          target: 'profile-detail',
          placement: 'right',
          arrowOffset: "left",
          onPrev: function() {
            window.location = '/search?q=Gata3&collection=all&tax_group=all&version=all&type=all';
          }
        },

        {
          title: 'Frequency Matrix',
          content: 'Position frequency matrix (PFM) of the profile with download and reverse complement options.',
          target: 'frequency-matrix',
          placement: 'left',
          arrowOffset: "right",
        },

        {
          title: "Profile versions",
          content: "Version(s) information of matrix profile (MA0037).",
          target: "version_table",
          placement: "bottom",
          onNext: function() {
            $('#detailTabs a[href="#tfmm_first_order"]').tab('show')
          }
        },

        {
          title: "TFFM and more details",
          content: "ChIP-seq centrality, detailed and first order TFFM, and more info.",
          target: "more-details",
          placement: "top",
          xOffset: "center",
          arrowOffset: "center",
          onPrev: function() {
            $('#detailTabs a[href="#version"]').tab('show')
          }
        },

        {
          title: "Thanks!",
          content: "Thanks for taking the JASPAR tour. You can read more about JASPAR <a href='/about'>here</a>.",
          target: "demo-end",
          placement: "bottom",
          xOffset: "center",
          arrowOffset: "center"
        }
      ]
    }

    /* Invoke the tour when traversing pages. */

    /* Index page. */

    if (hopscotch.getState() === "jaspar-home:1") {
      hopscotch.startTour(tour, 1);

    /* Search page. */

    } else if (hopscotch.getState() === "jaspar-home:2") {
      hopscotch.startTour(tour, 2);
    } else if (hopscotch.getState() === "jaspar-home:5") {
      hopscotch.startTour(tour, 5);

    /* Matrix detail page. */

    } else if (hopscotch.getState() === "jaspar-home:6") {
      hopscotch.startTour(tour, 6);
    }

  </script>
