<p>JASPAR CNE is a collection of 233 matrix profiles derived by Xie et al.
(PNAS 2007) by clustering of overrepresented motifs from human conserved
non-coding elements. While the biochemical and biological role of most of these
patterns is still unknown, Xie et al. have shown that the most abundant ones
correspond to known DNA-binding proteins, among them is the insulator-binding
protein CTCF.</p>

<p><b>When should it be used?</b> When characterizing of regulatory inputs in
long-range developmental gene regulation in vertebrates.</p>
