<p>Highly conserved non-coding elements are a distinctive feature of metazoan
genomes. Many of them can be shown to act as long-range enhancers that drive
expression of genes that are themselves regulators of core aspects of metazoan
development and differentiation. Since they act as regulatory inputs, attempts
at deciphering the regulatory content of these elements have started. JASPAR
CNE is a collection of 233 matrix profiles derived by

<a href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&amp;db=PubMed&amp;dopt=Citation&amp;list_uids=17442748">Xie et al</a>

based on clustering of overrepresented motifs from human conserved non-coding
elements. While the biochemical and biological role of most of these patterns
is still unknown, Xie et al. have shown that the most abundant ones correspond
to known DNA-binding proteins, most notably insulator-binding protein CTCF.
These matrix profiles will be useful for further characterization of
regulatory inputs in long-range developmental gene regulation in
vertebrates.</p>

<p><strong>What data does each entry hold?</strong></p>

<table class="table table-hover" style="width:100%;">
  <colgroup>
    <col width="10%"></col>
    <col width="90%"></col>
  </colgroup>
  <thead>
    <tr class="header">
    <th align="left">Entry</th>
    <th align="left">Note</th>
    </tr>
  </thead>
  <tbody>
    <tr class="odd">
      <td align="left">Name</td>
      <td align="left">The name of model.</td>
    </tr>
    <tr class="even">
      <td align="left">Matrix ID</td>
      <td align="left">a unique identifier for each model.
        NCRNA matrices always have CNnnnn IDs.</td>
    </tr>
    <tr class="odd">
      <td align="left">Consensus sequence</td>
      <td align="left">the consensus sequence of the motif
        - important as it is the basis for clustering
        over-represented sites in this study.</td>
    </tr>
    <tr class="even">
      <td align="left">Validation</td>
      <td align="left">The source article (always
        
        <a href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&amp;db=PubMed&amp;dopt=Citation&amp;list_uids=17442748">Xie et al</a>).

      </td>
    </tr>
  </tbody>
</table>

<p><strong>When should it be used?</strong></p>

<p>When analyzing properties of potential enhancers.</p>
