<p>The JASPAR CORE collection contains a curated, non-redundant set of TF
binding profiles. All profiles are derived from published collections of
experimentally defined TF binding motifs for multicellular eukaryotes. The TF
binding profiles were historically determined from SELEX experiments or the
collection of data from the experimentally determined binding regions of
actual regulatory regions. More recent profiles are derived from
high-throughput techniques such as ChIP-seq/-exo, Protein Binding Microarray,
DAP-seq, or High-Throughput SELEX. One of the central goals of the JASPAR CORE
is to provide a single, “best” model for each TF. This means that the database
is non-redundant in the sense that there are not many models for the same
factor. There are some exceptions motivated by the recognition of
significantly different motifs, where in such cases the different profiles are
considered as variants. See for example

<a href="{{ request.get_host }}/search?q=CTCF&collection=all&tax_group=vertebrates&tax_id=all&type=all&class=all&family=all&version=latest" target="_blank">CTCF motifs</a>

in JASPAR vertebrates for 3 different binding variants.</p>

<p>JASPAR CORE is what most scientists mean when referring to JASPAR in their
manuscripts. For convenience, JASPAR CORE is divided by larger groups of
taxons. At the moment there are profiles for six taxonomic groups:
vertebrates, plants, fungi, insects, urochordata and nematodes. This
distinction is mainly used in the web interface and, optionally, in the
download section.</p>

<p><strong>When should it be used?</strong> This is the main JASPAR collection
and should be used when curated, non-redundant binding profile models for
specific factors derived from experimental data are required. TF binding
motifs may be used either to predict TFBSs on DNA sequences or as reference
when annotating/comparing de novo motifs.</p>
