<p>The JASPAR CORE database contains a curated, non-redundant set of profiles,
derived from published collections of experimentally defined transcription
factor binding sites for eukaryotes. The prime difference to similar resources
(TRANSFAC, etc.) consist of the open data access, non-redundancy and
quality.</p>

<p><b>When should it be used?</b> When seeking models for specific factors or
structural classes, or if experimental evidence is paramount</p>
