<p>The JASPAR FAM database consist of models describing shared binding
properties of structural classes of transcription factors. These types of
models can be called familial profiles, consensus matrices or metamodels. The
models have two prime benefits: 1) Since many factors have similar target
sequences, we often experience multiple predictions at the same locations that
correspond to the same site. This type of models reduce the complexity of the
results. 2) The models can be used to classify newly derived profiles (or
project what type of structural class its cognate transcription factor belongs
to).</p>

<p><b>When should it be used?</b> When searching large genomic sequences with
no prior knowledge. For classification of new user-supplied profiles.</p>
