<p>The JASPAR FAM database consists of 11 models describing shared binding
properties of structural classes of transcription factors. These types of
models can be called “familial profiles”, “consensus matrices” or metamodels.
The models have two prime benefits:</p>

<ol>

  <li>Since many factors have similar target sequences, we often experience
  multiple predictions at the same locations that correspond to the same site.
  This type of models reduce the complexity of the results.</li>

  <li>The models can be used to classify newly derived profiles (or project
  what type of structural class its cognate transcription factor belongs
  to).</li>

</ol>

<p>The construction of the models is based on the JASPAR CORE collection and
described in detail in Sandelin A, Wasserman WW.  Constrained binding site
diversity within families of transcription factors enhances pattern discovery
bioinformatics

<a href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&amp;db=pubmed&amp;dopt=Abstract&amp;list_uids=15066426&amp;query_hl=11">J Mol Biol. 2004 Apr 23;338(2):207-15</a>.

</p>

<p><strong>What data does each entry hold?</strong></p>

<table class="table table-hover" style="width:100%;">
  <colgroup>
    <col width="11%"></col>
    <col width="98%"></col>
  </colgroup>
  <thead>
    <tr class="header">
      <th align="left">Entry</th>
      <th align="left">Note</th>
    </tr>
  </thead>
  <tbody>
    <tr class="odd">
      <td align="left">Name</td>
      <td align="left">The name of model. In this
        database, models were built by first partitioning
        JASPAR CORE matrices into structural classes –
        therefore, the names are essentially structure
        class names.</td>
    </tr>
    <tr class="even">
      <td align="left">Matrix ID</td>
      <td align="left">A unique identifier for each model.
        FAM matrices always have MFnnnn IDs.</td>
    </tr>
    <tr class="odd">
      <td align="left">Class</td>
      <td align="left">Structural class of the transcription
        factor, based on the TFClass system.</td>
    </tr>
    <tr class="even">
      <td align="left">Data Type</td>
      <td align="left">Always <code>METAMODEL</code></td>
    </tr>
    <tr class="odd">
      <td align="left">Validation</td>
      <td align="left">The source article (always

        <a href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&amp;db=pubmed&amp;dopt=Abstract&amp;list_uids=15066426&amp;query_hl=11">J Mol Biol. 2004 Apr 23;338(2):207-15</a>).

      </td>
    </tr>
    <tr class="even">
      <td align="left">Included models</td>
      <td align="left">The JASPAR CORE matrices used to
        construct the model</td>
    </tr>
  </tbody>
</table>

<p><strong>When should it be used?</strong></p>

<p>When searching large genomic sequences with no prior knowledge. For
classification of new user-supplied profiles.</p>
