<p>All the PBM collections are built by using new in-vitro techniques, based on
k-mer microarrays. PBM matrix models have their own database which is
specialized for the data: UniPROBE. The PBM collection is the set derived by
Badis et al (Science 2009) from binding preferences of 104 mouse transcription
factors.</p>

<p><b>When should it be used?</b> When characterizing of regulatory inputs in
long-range developmental gene regulation in vertebrates.</p>
