<p>All the PBM collections are built by using new in-vitro techniques, based on
k-mer microarrays. PBM matrix models have their own database which is
specialized for the data: UniPROBE. The PBM HLH collection is the set derived
by Grove et al (Cell 2008). It holds 19 C. elegans bHLH transcription factor
models.</p>

<p><b>When should it be used?</b> Where it is important that each matrix was
derived using the same protocol, focusing on bHLH factors.</p>
