<p>All the PBM collections are built by using new in-vitro techniques, based
on k-mer microarrays. PBM matrix models have their own database which is
specialized for the data:

<a href="http://the_brain.bwh.harvard.edu/uniprobe/">UniPROBE</a>.

</p>

<p>The PBM, collection is the set derived by

<a href="http://www.ncbi.nlm.nih.gov/pubmed/19443739?ordinalpos=2&amp;itool=EntrezSystem2.PEntrez.Pubmed.Pubmed_ResultsPanel.Pubmed_DefaultReportPanel.Pubmed_RVDocSum">Badis et al</a>

from binding preferences of 104 mouse transcription factors. One profile
(IRC900814) was excluded because the transcription factor could not be
identified.</p>

<p><strong>What data does each entry hold?</strong></p>

<table class="table table-hover" style="width:100%;">
  <colgroup>
    <col width="10%"></col>
    <col width="90%"></col>
  </colgroup>
  <thead>
    <tr class="header">
      <th align="left">Entry</th>
      <th align="left">Note</th>
    </tr>
  </thead>
  <tbody>
    <tr class="odd">
      <td align="left">Name</td>
      <td align="left">The name of model.</td>
    </tr>
    <tr class="even">
      <td align="left">Matrix ID</td>
      <td align="left">a unique identifier for each model.
        SPLICE matrices always have PHnnnn IDs.</td>
    </tr>
    <tr class="odd">
      <td align="left">Class</td>
      <td align="left">Structural class of the
        transcription factor, based on the TFClass system.
      </td>
    </tr>
    <tr class="even">
      <td align="left">Family</td>
      <td align="left">Structural sub-class of the
        transcription factor, based on the TFClass system.
      </td>
    </tr>
    <tr class="odd">
      <td align="left">Species</td>
      <td align="left">The species source for the
        sequences, in Latin. Linked to the NCBI Taxonomic
        browser. The actual database entries are the NCBI
        tax IDs – the latin conversion is only in the web
        interface.</td>
    </tr>
    <tr class="even">
      <td align="left">Taxon</td>
      <td align="left">Group of species, currently
        consisting of 6 larger groups: vertebrate, nematode,
        insect, plant, fungi, chordate.</td>
    </tr>
    <tr class="odd">
      <td align="left">Validation</td>
      <td align="left">A link to PubMed indicating the relevant
        publication reporting the sites used in the model
        building.</td>
    </tr>
    <tr class="even">
      <td align="left">Data Type</td>
      <td align="left">Methodology used for matrix
        construction.</td>
    </tr>
    <tr class="odd">
      <td align="left">Comment</td>
      <td align="left">For some matrices, a curator comment
        is added.</td>
    </tr>
  </tbody>
</table>

<p><strong>When should it be used?</strong></p>

<p>Where it is important that each matrix was derived using the same
protocol.</p>
