<p>All the PBM collections are built by using new in-vitro techniques, based on
k-mer microarrays. PBM matrix models have their own database which is
specialized for the data: UniPROBE. The PBM HOMEO collection is the set derived
by Berger et al (Cell 2008) including 176 profiles from mouse homeodomain.</p>

<p><b>When should it be used?</b> Where it is important that each matrix was
derived using the same protocol, focused on homeobox factors.</p>
