<p>The JASPAR PHYLOFACTS database consists of 174 profiles that were extracted
from phylogenetically conserved gene upstream elements. See Xie et al.,
Systematic discovery of regulatory motifs in human promoters and 3' UTRs by
comparison of several mammals., Nature 434, 338-345 (2005) and supplementary
material for details.</p>

<p><b>When should it be used?</b> The JASPAR PHYLOFACTS matrices are a mix of
known and as of yet undefined motifs.  They are useful when one expects that
other factors might determine promoter characteristics, such as structural
aspects and tissue specificity. They are highly complementary to the JASPAR
CORE matrices, so are best used in combination with this matrix set.</p>
