<p>The JASPAR PHYLOFACTS database consists of 174 profiles that were extracted
from phylogenetically conserved gene upstream elements.</p>

<p>For a detailed description, see Xie et al., Systematic discovery of
regulatory motifs in human promoters and 3’ UTRs by comparison of several
mammals.,

<a href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&amp;db=pubmed&amp;dopt=Abstract&amp;list_uids=15735639&amp;query_hl=3">Nature 434, 338-345 (2005)</a>

and supplementary material.</p>

<p>In short, the authors used the following strategy.  Promoters (defined as
the 4-kb region around the TSS) of human genes from the RefSeq database were
aligned against the genomes of mouse, rat and dog. Every consensus sequence of
length between 6 and 26, defined over an alphabet of 4 unique (A,C,G,T) and 7
degenerate (R, Y, K, M, S, W, N) nucleotides, was scanned over the alignments.
A motif is regarded as conserved when it appears in the alignment both for the
human and for the other three mammalian species. The conservation rate p is
defined as the number of times a motif is conserved divided by the number of
times it occurs in man only. This conservation rate is compared to the
expected conservation rate p0, estimated from random motifs, which gives the
motif conservation score MCS.  Only motifs with an MCS&gt;6 were retained,
resulting in a list of 174 highly conserved motifs (see supplementary Table S2
of Xie et al.). The count matrices for these 174 motifs were extracted from
the downloaded alignments. They were further annotated according to their
resemblance with TRANSFAC and JASPAR CORE motifs. For TRANSFAC, the annotation
of Xie et al.  was used. For comparing to the JASPAR CORE matrices, the
Pearson Correlation Coefficient (PCC) was used to define matrix similarity.
All PHYLOFACTS matrices were scanned against the JASPAR CORE matrices, and
matrices were regarded as being similar when PCC&gt;0.8. When multiple hits
were found, only the one with the highest PCC was retained.</p>

<p><strong>What data does each entry hold?</strong></p>

<table class="table table-hover" style="width:100%;">
  <colgroup>
    <col width="12%"></col>
    <col width="97%"></col>
  </colgroup>
  <thead>
    <tr class="header">
    <th align="left">Entry</th>
    <th align="left">Note</th>
    </tr>
  </thead>
  <tbody>
    <tr class="odd">
      <td align="left">Name</td>
      <td align="left">The name of model. In this
        database, models are based on over-represented
        words which are unique. The name is simply the
        consensus sequence.</td>
    </tr>
    <tr class="even">
      <td align="left">Matrix ID</td>
      <td align="left">a unique identifier for each model.
        PHYLOFACTS matrices always have PFnnnn IDs.</td>
    </tr>
    <tr class="odd">
      <td align="left">Jaspar</td>
      <td align="left">The JASPAR CORE motif that has the
        best similarity score when compared to this model.
        Only hits with a similarity score over 0.8 are
        considered.</td>
    </tr>
    <tr class="even">
      <td align="left">Transfac</td>
      <td align="left">The transfac (public version) motif
        that has the best similarity score when compared
        to this model. Only hits with a similarity score
        over 0.8 are considered.</td>
    </tr>
    <tr class="odd">
      <td align="left">Taxon</td>
      <td align="left">Group of species. Always
        <code>vertebrates</code>.</td>
    </tr>
    <tr class="even">
      <td align="left">Data Type</td>
      <td align="left">Always <code>phylogenetic</code>.</td>
    </tr>
    <tr class="odd">
      <td align="left">Validation</td>
      <td align="left">The source article (always

        <a href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&amp;db=pubmed&amp;dopt=Abstract&amp;list_uids=15735639&amp;query_hl=3">Nature 434, 338-345 (2005)</a>).

      </td>
    </tr>
  </tbody>
</table>

<p><strong>When should it be used?</strong></p>

<p>The JASPAR PHYLOFACTS matrices are a mix of motifs corresponding to motifs
for known and undefined transcription factors. They are useful when one
expects that other factors might determine promoter characteristics, such as
structural aspects and tissue specificity. They are highly complementary to
the JASPAR CORE matrices, so are best used in combination with this matrix
set.</p>
