<p>The JASPAR POLII database consists of models describing patterns found in
RNA Polymerase II (Pol II) promoters.  Some of these correspond to a known
protein (like the TATA box), while some has no specific interactor (like DPE).
Models are taken from published literature or public databases.</p>

<p><b>When should it be used?</b> When investigating core promoters from
multicellular eukaryotes.</p>
