<p>The deluge of novel data presented recently pertaining transcription start
sites (reviewed in (13,14)) motivates computational studies of core promoters.
The JASPAR_POLII sub-database holds known 13 DNA patterns linked to RNA
polymerase II core promoters, such as the Inr and BRE elements, each based on
experimental evidence: each model must be constructed using 5 or more
experimentally verified sites. An important difference to the transcription
factor profiles in JASPAR CORE is that patters here do not necessarily have a
specified protein interactor (See (15) for a review on core promoter
patterns). When possible, profiles were extended by two nucleotides more than
the core motif. We consistently report positions relative to the TSS as the
position of 5’ and 3’ edge of the matrix.</p>

<p><strong>What data does each entry hold?</strong></p>

<table class="table table-hover" style="width:100%;">
  <colgroup>
    <col width="10%"></col>
    <col width="90%"></col>
  </colgroup>
  <thead>
    <tr class="header">
      <th align="left">Entry</th>
      <th align="left">Note</th>
    </tr>
  </thead>
  <tbody>
    <tr class="odd">
      <td align="left">Name</td>
      <td align="left">The reported name of the pattern
        (not necessarily the binding protein, if this is
        known).</td>
    </tr>
    <tr class="even">
      <td align="left">Matrix ID</td>
      <td align="left">a unique identifier for each model.
        POLII matrices always have POLnnn IDs.</td>
    </tr>
    <tr class="odd">
      <td align="left">Species</td>
      <td align="left">The species source for the
        sequences, in Latin. “-“ generally signifies
        that several species were used in the model
        construction.</td>
    </tr>
    <tr class="even">
      <td align="left">Validation</td>
      <td align="left">A link to PubMed indicating the relevant
        publication reporting the sites used in the model
        building.</td>
    </tr>
    <tr class="odd">
      <td align="left">Start relative to TSS</td>
      <td align="left">Reported bias (if any) on position
        relative to the dominant transcription start site
        in the promoter. This is counted from the 5’ end
        of the pattern (the left side). As we have added
        some flanking nucleotides, this sometimes is not
        the exact numbers shown in the source
        publications.</td>
    </tr>
    <tr class="even">
      <td align="left">End relative to TSS</td>
      <td align="left">See above. Distance is counted from
        the 3’ end of the matrix (the right side).</td>
    </tr>
  </tbody>
</table>

<p><strong>When should it be used?</strong></p>

<p>When analyzing properties of core promoters.</p>
