<p>JASPAR SPLICE is a small collection contains matrix profiles of human
canonical and non-canonical splice sites, as matching donor:acceptor pairs. It
currently contains only 6 highly reliable profiles obtained from human genome
made by Chong et al. 2004.</p>

<p><b>When should it be used?</b> When analyzing splice sites and alternative
splicing.</p>
