<p>This small collection contains matrix profiles of human canonical and
non-canonical splice sites, as matching donor:acceptor pairs. It currently
contains only 6 highly reliable profiles obtained from human genome made by

<a href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&amp;db=PubMed&amp;dopt=Citation&amp;list_uids=15475254">Chong et al</a>.

In the future, we shall include additional eukaryotic species, as well as new
models for exonic splicing enhancers (ESE) and inhibitors (ESI).</p>

<p><strong>What data does each entry hold?</strong></p>

<table class="table table-hover" style="width:100%;">
  <colgroup>
    <col width="10%"></col>
    <col width="90%"></col>
  </colgroup>
  <thead>
    <tr class="header">
      <th align="left">Entry</th>
      <th align="left">Note</th>
    </tr>
  </thead>
  <tbody>
    <tr class="odd">
      <td align="left">Name</td>
      <td align="left">The name of model.</td>
    </tr>
    <tr class="even">
      <td align="left">Matrix ID</td>
      <td align="left">a unique identifier for each model.
        SPLICE matrices always have SPnnnn IDs.</td>
    </tr>
    <tr class="odd">
      <td align="left">Validation</td>
      <td align="left">The source article (always
        
        <a href="http://www.ncbi.nlm.nih.gov/entrez/query.fcgi?cmd=Retrieve&amp;db=PubMed&amp;dopt=Citation&amp;list_uids=15475254">Chong et al</a>).

      </td>
    </tr>
  </tbody>
</table>

<p><strong>When should it be used?</strong></p>

<p>When analyzing splice sites and alternative splicing</p>
