{% load static %}

<p>The JASPAR UNVALIDATED collection was introduced in the 2020 release of the
database. These profiles can be browsed separately in the JASPAR database and
they can be distinguished by an identifier that starts with “UN” (Figure
2A,B). These profiles are regarded as unvalidated because our curators could
not find any orthogonal support from the existing literature. However, the
profiles in this collection are high-quality, such as a profile that has high
IC and good centrality (see Figure 2C).</p>

<p>We encourage the community to engage in the curation of these profiles by
performing experiments and/or pointing us to literature that our curators
missed in order to support these profiles. Suggestions for validation can be
submitted via the form provided on the profiles page (see Figure 2D).</p>

<p><strong>When should it be used?</strong> These profiles are not
non-validated so we recommend using them with caution.</p>

<img src="{% static 'img/documentation_figure2.png' %}" alt="doc_fig2 img" width="99%" />

<p><b>Figure 2. Screengrab of the DPF1 profile (UN0116.1).</b> The highlighted
sections indicate where to browse UNVALIDATED collection (A) in which the
profiles have identifiers always starting with “UN” (B). These profiles do not
yet have orthogonal support, but are of high quality, e.g. high IC and good
centrality (C). Scientific community is invited to participate in curation of
the UNVALIDATED collection by submitting their suggestions for the validation
(D).</p>
