{% extends "rest_framework/api.html" %}
{% load static %}

{# Page title, overridden by other pages. #}

{% block title %}
JASPAR RESTful API
{% endblock %}


{# Page metadata, incorporating meta tags from the REST framework. #}

{% block meta %}
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
{{ block.super }}
<meta name="description" content="A RESTful API to access the latest version of JASPAR database programmatically.">
<meta name="author" content="Aziz Khan">
{% endblock %}


{# Stylesheets adding fonts, augmenting and adjusting the REST framework styles. #}

{% block style %}
{{ block.super }}
<link rel="stylesheet" href="{% static "fontawesome-free-5.13.0-web/css/all.min.css" %}">
<link rel="stylesheet" type="text/css" href="{% static "restapi/css/footer.css" %}"/>
{% endblock %}

{% block bootstrap_theme %}
  <link rel="stylesheet" type="text/css" href="{% static "rest_framework/css/bootstrap.min.css" %}"/>
{% endblock %}


{# REST framework "branding" in the top "userlinks" bar. #}

{% block branding %}
<a class="navbar-brand" href="/api/"><i class="fas fa-cloud" style="color:#dd4b39"
  aria-hidden="true"></i> <b> <font style="color:#dd4b39">JASPAR</font> </b> REST API</a>
{% endblock %}


{# Customised user links providing a navigation bar at the top of the page. #}

{% block userlinks %}
<li class="{% if request.view == 'api-home' %}active{% endif %}"><a href="/api/">Home</a></li>
<li class="dropdown {% if request.view == 'api-browsable' %}active{% endif %}">
  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
     aria-haspopup="true" aria-expanded="false">Browsable API <span class="caret"></span></a>
  <ul class="dropdown-menu">
    <li><a href="/api/v1/matrix">Matrices</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="/api/v1/collections">Collections</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="/api/v1/taxon">Taxon</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="/api/v1/species">Species</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="/api/v1/tffm">TFFM</a></li>
    <li role="separator" class="divider"></li>
    <li><a href="/api/v1/releases">JASPAR Releases</a></li>
  </ul>
</li>
<li class="{% if request.view == 'overview' %}active{% endif %}"><a href="/api/overview">API Overview</a></li>
<li class="{% if request.view == 'apidocs' %}active{% endif %}"><a href="/api/v1/docs" target="_blank">Documentation</a></li>
<li class="{% if request.view == 'apilive' %}active{% endif %}"><a href="/api/v1/live-api">Live API</a></li>
<li class="{% if request.view == 'clients' %}active{% endif %}"><a href="/api/clients">API Clients</a></li>
<li class="{% if request.view == 'contactus' %}active{% endif %}"><a href="/api/contact-us">Contact Us</a></li>
{% endblock %}


{# Breadcrumbs are omitted since the "userlinks" provide the same functionality. #}

{% block breadcrumbs %}
{% endblock %}


{# Descriptive elements shown in the browsable API. #}

{% block description %}
<div class="alert alert-info alert-dismissible">
  <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
  {% include "restapi/description.html" %}
</div>
{% endblock %}



{# Scripts used by the REST framework appear at the end of the page body. This
   relies on their positioning to add a footer. #}

{% block script %}
{{ block.super }}
<footer class="footer">
  <p class="text-muted">
  A RESTful <button type="button" class="btn btn-danger btn-circle">{API}</button>
  to programmatically access the latest version of the <a href="/">JASPAR</a>
  database.
  </p>
</footer>
{% endblock %}
