{% extends "restapi/api.html" %}
{% load i18n %}

{# Provide the API home content, replacing the default API inspector with some
   descriptive text. #}

{% block content %}
<div class="content-main" role="main"  aria-label="{% trans "main content" %}">
<div class="jumbotron">
  <h2 class="display-3" align="center">Welcome to the </h2>
  <h1 class="display-3" align="center">{<font style="color:#dd4b39"><b>JASPAR</b></font> RESTful API}</h1>
  <p class="lead" align="center">
  {% include "restapi/description.html" %}
  </p>

  <p align="center"><a class="btn btn-lg btn-success" href="/api/v1/matrix" role="button">Try it Now</a> 
  <a class="btn btn-lg btn-info" href="/api/v1/live-api/" role="button">Live API</a>
  </p>
</div>

<div class="panel panel-info">
  <div class=panel-heading>
    <h3 class=panel-title> <i class="icon fas fa-globe"></i> Citing JASPAR RESTful API</h3>
  </div>
  <div class=panel-body>
    <ul>
      <li>Khan, A. and Mathelier, A. JASPAR RESTful API: accessing JASPAR
      data from any programming language. Bioinformatics, 2017, doi:
      <a href="https://doi.org/10.1093/bioinformatics/btx804"
         target="_blank">10.1093/bioinformatics/btx804</a>
      </li>

      <li>Khan, A. et al. JASPAR 2018: update of the open-access database
      of transcription factor binding profiles and its web framework.
      Nucleic Acids Res. 2018; 46:D260–D266, doi:
      <a href="https://doi.org/10.1093/nar/gkx1126"
        target="_blank">10.1093/nar/gkx1126 </a> 
      </li>
    </ul>
  </div>
</div>
</div>
{% endblock %}
