{% extends "restapi/api.html" %}
{% load static %}
{% load i18n %}

{% block title %}
RESTful API Clients
{% endblock %}

{# Replace the default REST framework content with the following content. #}

{% block content %}
<div class="content-main" role="main"  aria-label="{% trans "main content" %}">
  <div class="page-header">
    <h1>{% block content_header %}API Clients{% endblock %}</h1>
  </div>

  <p>API clients handle the underlying details of how network requests are made
  and how responses are decoded.

  We are using <a href="http://www.coreapi.org/" target="_blank"> Core API </a>
  which is a format-independent Document Object Model for representing Web APIs.
  It is recommended to use the Core API clients described below for a more robust
  and intuitive way to interact with the JASPAR API rather than constructing HTTP
  requests and decoding responses.
  </p> 

  <p><b>Currently, Core API  provides three clients: 
    <ul>
      <li><a href="#commandline"> Command line client</a></li>
      <li><a href="#python"> Python client</a></li>
      <li><a href="#javascript"> JavaScript client</a></li>
    </ul>
  </b></p>

  <p>As a way of getting started, you can interact with the JASPAR API using the
  <b><a href="#sample_calls">sample calls</a></b> provided below.</p>

  <h3 class="box-title" id="commandline"><i class="fas fa-terminal"> </i> Command line client</h3>

<pre># Install the command line client
$ pip install coreapi-cli
</pre>

  To interact with the API:

<pre class="pre-scrollable prettyprint linenums">
# Load the schema document
$ coreapi get {{ request.get_api_host }}docs

# Interact with the API endpoint
$ coreapi action matrix list -p page=... -p page_size=... -p search=... -p order=... -p collection=... -p name=... -p tax_group=... -p tax_id=... -p tf_class=... -p tf_family=... -p data_type=... -p version=... -p release=...

# For example
coreapi action matrix list -p collection=CORE -p tax_group=vertebrates -p version=latest -p name=SMAD3
</pre>

  <h3 class="box-title" id="python"><i class="fas fa-code"> </i> Python client</h3>

<pre class="prettyprint">
# Install the Python client library
$ pip install coreapi</pre>

  To interact with the API:

<pre class="pre-scrollable prettyprint linenums">
import coreapi

# Initialize a client &amp; load the schema document
client = coreapi.Client()
schema = client.get("{{ request.get_api_host }}docs")

# Interact with the API endpoint
action = ["matrix", "list"]
params = {
    "page": ...,
    "page_size": ...,
    "search": ...,
    "order": ...,
    "collection": ...,
    "name": ...,
    "tax_group": ...,
    "tax_id": ...,
    "tf_class": ...,
    "tf_family": ...,
    "data_type": ...,
    "version": ...,
    "release": ...,
}
result = client.action(schema, action, params=params)

# For example
params = {
    "collection": 'CORE',
    "name": 'SMAD3',
    "tax_group": 'vertebrates',
    "version": 'latest',
    "release": '2018',
}
result = client.action(schema, action, params=params)
</pre>

  <h3 class="box-title" id="javascript"><i class="fas fa-code"> </i> JavaScript client</h3>

<pre class="pre-scrollable prettyprint linenums" data-language="javascript"><code><span class="c">&lt;!-- Load the JavaScript client library --&gt;</span>
<span class="p">&lt;</span><span class="nt">script</span> <span class="na">src</span><span class="o">=</span><span class="s">&quot;{{ request.get_host }}static/rest_framework/js/coreapi-0.1.0.js&quot;</span><span class="p">&gt;&lt;/</span><span class="nt">script</span><span class="p">&gt;</span>
<span class="p">&lt;</span><span class="nt">script</span> <span class="na">src</span><span class="o">=</span><span class="s">&quot;{{ request.get_api_host }}docs/schema.js&quot;</span><span class="p">&gt;&lt;/</span><span class="nt">script</span><span class="p">&gt;</span>
</code></pre>

  To interact with the API:

<pre class="pre-scrollable prettyprint linenums">
var coreapi = window.coreapi  // Loaded by `coreapi.js`
var schema = window.schema    // Loaded by `schema.js`

// Initialize a client
var client = new coreapi.Client()

// Interact with the API endpoint
var action = ["matrix", "list"]
var params = {
    page: ...,
    page_size: ...,
    search: ...,
    order: ...,
    collection: ...,
    name: ...,
    tax_group: ...,
    tax_id: ...,
    tf_class: ...,
    tf_family: ...,
    data_type: ...,
    version: ...,
    release: ...,
}
client.action(schema, action, params).then(function(result) {
    // Return value is in 'result'
})
</pre>

  <div id="sample-calls">
    <h3 class="box-title" id="commandline"><i class="fas fa-file"> </i> Sample calls</h3>

    <p>These are sample calls to API from different languages. You can create the query url by using our <a href="/api/v1/live-api"> <b> Live API</b></a></p> 

    <div class="nav-tabs">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#ajax" data-toggle="tab">Ajax</a></li>
        <li><a href="#python23" data-toggle="tab">Python</a></li>
        <li><a href="#perl" data-toggle="tab">Perl</a></li>
        <li><a href="#ruby" data-toggle="tab">Ruby</a></li>
        <li><a href="#r" data-toggle="tab">R</a></li>
        <li><a href="#java" data-toggle="tab">Java</a></li>
        <li><a href="#curl" data-toggle="tab">curl</a></li>
      </ul>
      <div class="tab-content">
        <div class="active tab-pane" id="ajax">
          <pre class="pre-scrollable prettyprint linenums">
$.ajax({
    url: '{{ request.get_api_host }}matrix?format=jsonp',
    dataType: 'jsonp',
    jsonp: false,
    jsonpCallback: 'callback',
    success: function(data){
        //Use data and do something
    },
});
</pre>
        </div>

        <div class="tab-pane" id="python23">
          <pre class="pre-scrollable prettyprint linenums">
import requests, sys
 
query_url = "{{ request.get_api_host }}matrix?format=json"
 
result = requests.get(query_url)
 
if not result.ok:
  r.raise_for_status()
  sys.exit()
 
decoded = result.json()
print(repr(decoded))
</pre>
        </div>

        <div class="tab-pane" id="perl">
          <pre class="pre-scrollable prettyprint linenums">
use strict;
use warnings;
 
use HTTP::Tiny;
 
my $http = HTTP::Tiny-&gt;new();
 
my $server = '{{ request.get_api_host }}';
my $ext = 'matrix?format=json';
my $response = $http-&gt;get($server.$ext, {
  headers =&gt; { 'Content-type' =&gt; 'application/json' }
});
 
die "Failed!\n" unless $response-&gt;{success};
 
 
use JSON;
use Data::Dumper;
if(length $response-&gt;{content}) {
  my $hash = decode_json($response-&gt;{content});
  local $Data::Dumper::Terse = 1;
  local $Data::Dumper::Indent = 1;
  print Dumper $hash;
  print "\n";
}
</pre>
        </div>

        <div class="tab-pane" id="ruby">
          <pre class="pre-scrollable prettyprint linenums">
require 'net/http'
require 'uri'
 
server='{{ request.get_api_host }}'
path = 'matrix?format=json'
 
url = URI.parse(server)
http = Net::HTTP.new(url.host, url.port)
 
request = Net::HTTP::Get.new(path, {'Content-Type' =&gt; 'application/json'})
 
response = http.request(request)
 
if response.code != "200"
  puts "Invalid response: #{response.code}"
  puts response.body
  exit
end
 
require 'rubygems'
require 'json'
require 'yaml'
 
result = JSON.parse(response.body)
puts YAML::dump(result)
</pre>
        </div>

        <div class="tab-pane" id="r">
          <pre class="pre-scrollable prettyprint linenums">
library(jsonlite)
url &lt;- "{{ request.get_api_host }}matrix?format=json"

result &lt;- fromJSON(url)
#create a dataframe
df &lt;- result$results
</pre>
        </div>

        <div class="tab-pane" id="java">
          <pre class="pre-scrollable prettyprint linenums">
import java.net.URL;
import java.net.URLConnection;
import java.net.HttpURLConnection;
import java.io.BufferedReader;
import java.io.InputStream;
import java.io.InputStreamReader;
import java.io.IOException;
import java.io.Reader;
 
public class JASPARRest {
 
  public static void main(String[] args) throws Exception {
    String server = "{{ request.get_api_host }}";
    String ext = "matrix?format=json";
    URL url = new URL(server + ext);
 
    URLConnection connection = url.openConnection();
    HttpURLConnection httpConnection = (HttpURLConnection)connection;
    
    httpConnection.setRequestProperty("Content-Type", "application/json");
    
    InputStream response = connection.getInputStream();
    int responseCode = httpConnection.getResponseCode();
 
    if(responseCode != 200) {
      throw new RuntimeException("Response code was not 200. Detected response was "+responseCode);
    }
 
    String output;
    Reader reader = null;
    try {
      reader = new BufferedReader(new InputStreamReader(response, "UTF-8"));
      StringBuilder builder = new StringBuilder();
      char[] buffer = new char[8192];
      int read;
      while ((read = reader.read(buffer, 0, buffer.length)) &gt; 0) {
        builder.append(buffer, 0, read);
      }
      output = builder.toString();
    } 
    finally {
        if (reader != null) try {
          reader.close(); 
        } catch (IOException logOrIgnore) {
          logOrIgnore.printStackTrace();
        }
    }
    System.out.println(output);
  }
}
</pre>
        </div>

        <div class="tab-pane" id="curl">
          <pre class="pre-scrollable prettyprint linenums">
curl '{{ request.get_api_host }}matrix?format=json' -H 'Content-type:application/json'
</pre>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
