{% extends "restapi/api.html" %}
{% load static %}
{% load i18n %}

{% block title %}
Contact Us
{% endblock %}

{# Replace the default REST framework content with the following details. #}

{% block content %}
<div class="content-main" role="main"  aria-label="{% trans "main content" %}">
  <div class="page-header">
    <h1>{% block content_header %}Contact Us{% endblock %}</h1>
  </div>

  <p>For technical issues about the JASPAR REST API please contact:</p>
  <ul>
    <li><a href="https://asntech.github.io/" target="_blank">Aziz Khan</a>: aziz.khan AT ncmm.uio.no</li>
    <li><a href="https://mathelierlab.com/" target="_blank">Anthony Mathelier</a>: anthony.mathelier AT ncmm.uio.no</li>
  </ul>

  <hr />

  <p>For questions about the JASPAR database, please contact us <a href="/contact-us" target="_blank">here </a>.</p>
</div>
{% endblock %}
