This API provides an easy-to-use REST web interface to query/retrieve matrix
profile data from the latest version of the JASPAR database. The API comes
with a human browsable interface and also a programmatic interface which
return the results in eight different formats, including <code>json</code>,
<code>jsonp</code>, <code>jaspar</code>, <code>meme</code>,
<code>transfac</code>, <code>pfm</code>, <code>yaml</code> and
<code>bed</code>.
