<div class="20171031a">

  <h3>31/10/2017</h3>

  <p>We have added the .sites and .bed files for the following profile matrices in plants:</p>

  <p><code>MA0110.2, MA0548.2, MA0555.1, MA0565.1, MA0573.1, MA0582.1,
  MA0586.2, MA0588.1, MA0931.1, MA0937.1, MA0938.1, MA0941.1, MA0943.1,
  MA0952.1, MA0953.1, MA0954.2, MA0964.1, MA0965.1, MA0971.1, MA0974.1,
  MA0981.1, MA0982.1, MA0983.1, MA0992.1, MA0993.1, MA0994.1, MA1000.2,
  MA1001.1, MA1005.1, MA1014.1, MA1020.1, MA1026.2, MA1043.1, MA1045.1,
  MA1047.1, MA1055.1, MA1059.2, MA1062.1, MA1065.1, MA1068.1, MA1069.1,
  MA1076.1, MA1077.1, MA1079.1, MA1081.1, MA1085.2, MA1087.1, MA1093.1,
  MA1156.1, MA1159.1, MA1162.1, MA1163.1, MA1164.1, MA1165.1, MA1167.1,
  MA1168.1, MA1172.1, MA1173.1, MA1174.1, MA1175.1, MA1176.1, MA1177.1,
  MA1178.1, MA1180.1, MA1182.1, MA1183.1, MA1184.1, MA1185.1, MA1186.1,
  MA1187.1, MA1188.1, MA1189.1, MA1190.1, MA1191.1, MA1195.1, MA1196.1,
  MA1197.1, MA1198.1, MA1203.1, MA1206.1, MA1207.1, MA1208.1, MA1211.1,
  MA1212.1, MA1213.1, MA1214.1, MA1215.1, MA1216.1, MA1217.1, MA1218.1,
  MA1219.1, MA1220.1, MA1221.1, MA1222.1, MA1224.1, MA1225.1, MA1226.1,
  MA1227.1, MA1228.1, MA1230.1, MA1231.1, MA1233.1, MA1234.1, MA1235.1,
  MA1236.1, MA1237.1, MA1238.1, MA1240.1, MA1241.1, MA1243.1, MA1244.1,
  MA1245.1, MA1246.1, MA1247.1, MA1249.1, MA1251.1, MA1255.1, MA1256.1,
  MA1259.1, MA1262.1, MA1263.1, MA1264.1, MA1265.1, MA1266.1, MA1267.1,
  MA1268.1, MA1269.1, MA1270.1, MA1271.1, MA1272.1, MA1273.1, MA1274.1,
  MA1275.1, MA1276.1, MA1277.1, MA1278.1, MA1279.1, MA1280.1, MA1281.1,
  MA1285.1, MA1286.1, MA1287.1, MA1288.1, MA1289.1, MA1291.1, MA1292.1,
  MA1293.1, MA1295.1, MA1298.1, MA1301.1, MA1302.1, MA1303.1, MA1305.1,
  MA1308.1, MA1309.1, MA1311.1, MA1313.1, MA1314.1, MA1315.1, MA1316.1,
  MA1317.1, MA1318.1, MA1321.1, MA1322.1, MA1323.1, MA1326.1, MA1327.1,
  MA1328.1, MA1329.1, MA1330.1, MA1331.1, MA1332.1, MA1333.1, MA1334.1,
  MA1335.1, MA1336.1, MA1337.1, MA1338.1, MA1340.1, MA1341.1, MA1342.1,
  MA1343.1, MA1344.1, MA1345.1, MA1346.1, MA1347.1, MA1348.1, MA1349.1,
  MA1351.1, MA1352.1, MA1353.1, MA1355.1, MA1356.1, MA1357.1, MA1359.1,
  MA1366.1, MA1369.1, MA1371.1, MA1372.1, MA1374.1, MA1375.1, MA1376.1,
  MA1378.1, MA1379.1, MA1380.1, MA1382.1, MA1384.1, MA1385.1, MA1386.1,
  MA1388.1, MA1389.1, MA1390.1, MA1391.1, MA1392.1, MA1393.1, MA1394.1,
  MA1395.1, MA1397.1, MA1398.1, MA1399.1, MA1400.1, MA1401.1,
  MA1404.1</code></p>

</div>
