<div class="20171031b">

  <h3>31/10/2017</h3>

  <p>The plant profiles <code>MA1352.1</code>, <code>MA1353.1</code>, <code>MA1355.1</code> and <code>MA1356.1</code> were incorrect in JASPAR 2018 release due to a manual annotation problem. The updated matrix PFMs are:</p>

  <pre>
&gt;MA1352.1 TRP1
A  [   253     19     17     30     29    302    304    307      4     13      1      3    296    295    306      3      6     24     13    290    263 ]
C  [     4    250    263    218      0      0      0      0    302    290    296      2      2      9      0    288    292    272      8      4      8 ]
G  [     8     11     14     11      3      2      1      0      0      0      6      2      2      2      0      1      4      0      1      6     28 ]
T  [    42     27     13     48    275      3      2      0      1      4      4    300      7      1      1     15      5     11    285      7      8 ]
&gt;MA1353.1 AT1G72740
A  [   187    187    278    254      2      3    595      0      0      0      1     22     77    229     76 ]
C  [    94     71     23     10    107      1      0      1      0      3     28      1     33    120     82 ]
G  [   223    242    230     77      1      0      4    599    597    566      0      0     19     73    281 ]
T  [    96    100     69    259    490    596      1      0      3     31    571    577    471    178    161 ]
&gt;MA1353.1 AT1G72740
A  [   187    187    278    254      2      3    595      0      0      0      1     22     77    229     76 ]
C  [    94     71     23     10    107      1      0      1      0      3     28      1     33    120     82 ]
G  [   223    242    230     77      1      0      4    599    597    566      0      0     19     73    281 ]
T  [    96    100     69    259    490    596      1      0      3     31    571    577    471    178    161 ]
&gt;MA1356.1 TRP2
A  [   335    317     44     23     47     72    423    419    422      7      6      0      4    407    422    409     27     18     54     37    337 ]
C  [    34     24    303    344    272      0      0      1      2    416    414    416      3      2      1      4    350    383    303     43     28 ]
G  [    21     18     22     28     15      4      1      2      0      0      2      0      0     13      2      2      1      0      7      7     15 ]
T  [    35     66     56     30     91    349      1      3      1      2      3      9    418      3      0     10     47     24     61    338     45 ]
</pre>

</div>
