<div class="20210122">

  <h3>22/01/2021</h3>

  <p>We have updated the .sites and .bed files for the following profile matrices:</p>

  <p><code>MA0110.3, MA0529.2, MA0565.2, MA0570.2, MA0974.2, MA0976.2,
  MA0992.2, MA0995.2, MA1001.2, MA1005.2, MA1227.2, MA1233.2, MA1238.2,
  MA1245.2, MA1265.2, MA1327.2, MA1365.2, MA1444.1, MA1445.1, MA1446.1,
  MA1456.1, MA1457.1, MA1603.1, MA1604.1, MA1606.1, MA1607.1, MA1659.1,
  MA1660.1, MA1661.1, MA1662.1, MA1668.1, MA1669.1, MA1670.1, MA1671.1,
  MA1672.1, MA1685.1, MA1686.1, MA1687.1, MA1688.1, MA1689.1, MA1690.1,
  MA1691.1, MA1692.1, MA1693.1, MA1694.1, MA1695.1, MA1696.1, MA1697.1,
  MA1698.1, UN0107.1, UN0108.1, UN0251.1, UN0252.1, UN0342.1, UN0343.1,
  UN0344.1, UN0345.1, UN0346.1, UN0347.1, UN0348.1, UN0349.1, UN0350.1,
  UN0351.1, UN0352.1, UN0353.1, UN0354.1, UN0355.1, UN0356.1, UN0357.1,
  UN0358.1, UN0359.1, UN0360.1, UN0361.1, UN0362.1, UN0363.1,
  UN0364.1</code></p>

</div>
