<div class="20191204">

  <h3>04/12/2019</h3>

  <p>The following TFFMs have been removed.</p>

  <ul>
    <li>Remove <code>TFFM0098.1</code> because of discrepancy with PFM. New TFFM version is better now</li>
    <li>Remove <code>TFFM0063.1</code> because of discrepancy with PFM.</li>
    <li>Remove <code>TFFM0083.1</code> because of discrepancy with PFM.</li>
    <li>Remove <code>TFFM0057.3</code> because of discrepancy with PFM. <code>TFFM0057.2</code> is better</li>
    <li>Remove <code>TFFM0510.1</code> because of discrepancy with PFM.</li>
    <li>Remove <code>TFFM0541.1</code> because of discrepancy with PFM.</li>
    <li>Remove <code>TFFM0589.1</code> because of discrepancy with PFM.</li>
    <li>Remove <code>TFFM0602.1</code> because of discrepancy with PFM.</li>
    <li>Remove <code>TFFM0607.1</code> because of discrepancy with PFM.</li>
    <li>Remove <code>TFFM0615.1</code> because of discrepancy with PFM.</li>
    <li>Remove <code>TFFM0649.1</code> because of discrepancy with PFM.</li>
  </ul>

</div>
