<div class="20141210">

  <h3>10/12/2014</h3>

  <p>The plant SOC1 TF (MA0554) is incorrect in JASPAR due to a manual annotation problem.
     The old incorrect matrix is:</p>

  <pre>
##   [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10] [,11] [,12] [,13]
## A    0    0   33    0  139   78    0   78   64     0    59     0     0
## C  209  210  168  326  125  223  206  153    0   263    90   258   180
## G  115  135    0   44  119   95   23  123    6    99    57   134    10
## T  482  461  605  436  423  410  577  452  736   444   600   414   616
##   [,14] [,15] [,16] [,17] [,18] [,19] [,20] [,21]
## A     0    49   117     0    33    14    79   126
## C   343     0   286   121   208   190   240   136
## G    78   115     0     0    64     0    98   147
## T   385   642   403   685   501   602   389   397
</pre>

  <p>The updated matrix is:</p>

  <pre>
##   [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10] [,11] [,12] [,13]
## A  288  172   65   62  117   20    0  459  137   130    22    98    90
## C  123  264   27    0   47  855  617   37   78     6     8    24    71
## G   99  113   34   51   89   13    9   56    0     0     0     0    86
## T  378  339  762  775  635    0  262  336  673   752   858   766   641
##   [,14] [,15]
## A   181    17
## C    10    23
## G   683   665
## T    14   183
</pre>

</div>
