<div class="20161020">

  <h3>20/10/2016</h3>

  <p>We have updated the .sites files for the following profile matrices:</p>

  <p><code>MA0529.1, MA0535.1, MA0530.1, MA0452.2, MA0216.2, MA0534.1,
  MA0533.1, MA0531.1, MA0536.1, MA0247.2, MA0237.2, MA0532.1, MA0149.1,
  MA0166.1, MA0167.1, MA0169.1, MA0170.1, MA0171.1, MA0172.1, MA0175.1,
  MA0176.1, MA0177.1, MA0183.1, MA0189.1, MA0191.1, MA0192.1, MA0194.1,
  MA0195.1, MA0196.1, MA0199.1, MA0201.1, MA0203.1, MA0204.1, MA0206.1,
  MA0208.1, MA0209.1, MA0210.1, MA0211.1, MA0214.1, MA0217.1, MA0219.1,
  MA0221.1, MA0222.1, MA0225.1, MA0228.1, MA0229.1, MA0230.1, MA0233.1,
  MA0234.1, MA0235.1, MA0238.1, MA0240.1, MA0245.1, MA0247.1, MA0250.1,
  MA0253.1, MA0256.1, MA0257.1, MA0444.1 </code></p>

  <p>The corrected .sites files have not been retrieved for the following profile matrices:</p>

  <p><code>MA0029.1, MA0030.1, MA0139.1, MA0141.1, MA0144.1, MA0145.1,
  MA0146.1, MA0147.1, MA0138.2, MA0104.2, MA0168.1, MA0173.1, MA0174.1,
  MA0178.1, MA0180.1, MA0181.1, MA0184.1, MA0193.1, MA0200.1, MA0202.1,
  MA0207.1, MA0216.1, MA0218.1, MA0227.1, MA0239.1, MA0246.1, MA0248.1,
  MA0252.1, MA0260.1, MA0443.1, MA0445.1, MA0446.1, MA0447.1, MA0448.1,
  MA0449.1, MA0454.1, MA0456.1, MA0457.1, MA0459.1 </code></p>

</div>
