<div class="20190913">

  <h3>13/09/2019</h3>

  <p>We've introduced the following changes in JASPAR 2020.</p>

  <ul>

    <!-- log added after revision !-->
    <li> Profile <code>MA1073.1</code> is removed because it is not a TF.</li>

    <!-- log added before revision !-->
    <li><span>Validation 2516827 does not support http://jaspar.genereg.net/matrix/MA0835.1; this profile removed and replaced with the one coming from ReMap 2020</span></li>
    <li><span>MA1004.1 and MA1254.1 entries for the same TF (ERF13). Keep MA1004.1 </span></li>
    <li><span>Rename TF Class (from *C2H2* &nbsp;to *C2H2 zinc finger factors*) for the following profiles: MA1158.1, MA1156.1, MA1157.1,MA1159.1</span></li>
    <li><span>For two profiles including MA1629.1 class: from *C2H2 zinc finger factors::C2H2 zinc finger factors* to *C2H2 zinc finger factors *</span></li>
    <li><span>For 17 entries (e.g. http://jaspar.genereg.net/matrix/MA0102.3/), replace TF family C/EBP-related by C/EBP-related factors</span></li>
    <li><span>Use validation 22284184 for profile http://jaspar.genereg.net/matrix/MA0818.1/</span></li>
    <li><span>Use validation 31086315 for profile http://jaspar.genereg.net/matrix/MA1100.1/</span></li>
    <li><span>Replaced &nbsp;MA1469.1 by MA1101.2</span></li>
    <li><span>Replaced MA1347.1 by MA0968.2</span></li>
    <li><span>MA1319.1 this need to added as new verison for MA0577.1</span></li>

    <li><span>Changed the TF family for 7 profile from &quot;G2like&quot; to &quot;G2-like&quot;</span></li><li><span>MA0529.2 UniProt ID has to be set to Q94513</span></li>
    <li><span>Changed validation for MAX http://jaspar.genereg.net/matrix/MA0058.3/ to 8265351</span></li>
    <li><span>AT4G36780 renamed as BEH2: https://www.uniprot.org/uniprot/Q94A43</span></li>
    <li><span>At4g18890 renamed as BEH3: https://www.uniprot.org/uniprot/O49404</span></li>
    <li><span>At1g78700 renamed as BEH4: https://www.uniprot.org/uniprot/Q9ZV88</span></li>
    <li><span>AT2G03500 renamed as EFM: https://www.uniprot.org/uniprot/Q9ZQ85</span></li>
    <li><span>AT4G31060 renamed as ERF015: https://www.uniprot.org/uniprot/Q6NLD5</span></li>
    <li><span>AT1G19210 renamed as ERF017: https://www.uniprot.org/uniprot/Q84QC2</span></li>
    <li><span>AT1G71450 renamed as ERF021: https://www.uniprot.org/uniprot/Q9C9I2</span></li>
    <li><span>AT1G12630 renamed as ERF027: https://www.uniprot.org/uniprot/Q38Q39</span></li>
    <li><span>AT3G60490 renamed as ERF035: https://www.uniprot.org/uniprot/Q9M210</span></li>
    <li><span>AT1G77200 renamed as ERF037: https://www.uniprot.org/uniprot/O80654</span></li>
    <li><span>AT1G28160 renamed as ERF087: https://www.uniprot.org/uniprot/Q9FZ90</span></li>
    <li><span>AT3G25990 renamed as GT-4: https://www.uniprot.org/uniprot/Q9LU92</span></li>
    <li><span>AT1G68670 renamed as HHO2: https://www.uniprot.org/uniprot/Q8VZS3</span></li>
    <li><span>AT1G25550 renamed as HHO3: https://www.uniprot.org/uniprot/Q9FPE8</span></li>
    <li><span>AT4G37180 renamed as HHO5: https://www.uniprot.org/uniprot/F4JRB0</span></li>
    <li><span>AT1G49560 renamed as HHO6: https://www.uniprot.org/uniprot/Q9FX84</span></li>
    <li><span>At5g47390 renamed as KUA1: https://www.uniprot.org/uniprot/Q9LVS0</span></li>
    <li><span>AT3G04030 renamed as MYR2: https://www.uniprot.org/uniprot/Q9SQQ9</span></li>
    <li><span>AT5G45580 renamed as PHL11: https://www.uniprot.org/uniprot/C0SVS4</span></li>
    <li><span>AT3G12730 renamed as PHL12: https://www.uniprot.org/uniprot/Q8VYI2</span></li>
    <li><span>AT5G29000 renamed as PHL1: https://www.uniprot.org/uniprot/Q8GUN5</span></li>
    <li><span>AT2G01060 renamed as PHL7: https://www.uniprot.org/uniprot/Q9SJW0</span></li>
    <li><span>At4g01280 renamed as RVE5: https://www.uniprot.org/uniprot/C0SVG5</span></li>
    <li><span>At5g52660 renamed as RVE6: https://www.uniprot.org/uniprot/C0SVG5</span></li>
    <li><span>At5g08330 renamed as TCP21: https://www.uniprot.org/uniprot/Q9FTA2</span></li>
    <li><span>ATHB25 renamed as ZHD1: https://www.uniprot.org/uniprot/Q9FKP8</span></li>
    <li><span>ATHB21 renamed as ZHD3: https://www.uniprot.org/uniprot/O64722</span></li>
    <li><span>ATHB33 renamed as ZHD5: https://www.uniprot.org/uniprot/Q9FRL5</span></li>
    <li><span>ATHB24 renamed as ZHD6: https://www.uniprot.org/uniprot/Q9ZPW7</span></li>
    <li><span>Removed ID2 (MA0617.1) , ID4 (MA0824.1)</span></li>
    <li><span>The validation PMID for ceh-48 MA0921.1 is incorrect and changed to 22080565.</span></li>
    <li><span>http://jaspar2018.genereg.net/matrix/MA0069.1/ Pax6 =&gt; PAX6</span></li>
    <li><span>The profile name NR1A4::RXRA has changed to NR1H4::RXRA</span></li>
    <li><span>Striped UniProt Accession for profiles MA0037.3 and MA0831.2</span></li>
    <li><span>Changed the TF family for profile [MA0610.1] from &quot;DMRT&quot; to &quot;DMRT factors&quot;</span></li>
    <li><span>For profile MA1186.1, Class and Family set to Tryptophan cluster factors and &nbsp; &nbsp;Myb/SANT domain factors, respectively.</span></li>
    <li><span>For profile MA0637.1, Class set to CENP-B. For this family of TFs, there is no TF Class, so we used the assigned Pfam family instead.</span></li>
    <li><span>For profile MA0610.1, we change the family form DMRT to DMRT factors.</span></li>
    <li><span>For profile MA1160.1, could you replace the class from C2H2 to C2H2 zinc finger factors</span></li>
    <li><span>For MA1368.1, Class has to be set to Tryptophan cluster factors </span></li>
    <li><span>For the profile MA1366.1 Class has to be set to Tryptophan cluster factors and added Uniprot ID: Q9C6K3</span></li>
    <li><span>MA1365.1 class is also Tryptophan cluster factors. The Name replaced to MNJ7.25 and the Uniprot ID to Q9FGJ1.</span></li>
    <li><span>For MA1208.1, the name changed to GT-2, and the class to Tryptophan cluster factors</span></li>
    <li><span>For MA1207.1, the Name GT-3A and the Class Tryptophan cluster factors</span></li>
    <li><span>The TF name &ldquo;T&rdquo; for matrices MA0009.1 and MA0009.2 were changed to Tbxt and TBXT, respectively.</span></li>
    <li><span>The Class for MA1020.1 and MA1367.1 replaced with Tryptophan cluster factors</span></li>
    <li><span>Added Uniprot ID Q9M9A3 for profile MA1186.1</span></li>
    <li><span>Changed Uniprot IDs for the following profiles:</span>
        <code>MA0328.1=P0CY08; MA0110.1=P46667; MA0058.1=P61244; MA0046.1=P20823; MA0098.1=P14921; MA0052.1=Q02078; MA0024.1=Q01094; MA0138.1=Q13127</code></li>
    <li><span>Removed all the TFencyclopedia IDs for 526 profiles</span></li>
    <li><span>Removed all the Pazar IDs for 793 profiles</span></li>
  </ul>

  <h3>31/10/2017</h3>

  <p>The plant profiles <code>MA0173.1</code> (CG11617) was incorrect in JASPAR due to a manual annotation problem.
  The updated matrix PFM is:</p>

  <pre>
&gt;MA0173.1 CG11617
A  [     1      0     10     17      0     17      0 ]
C  [     0      0      0      0     17      0      0 ]
G  [     0      0      3      0      0      0      0 ]
T  [    16     17      4      0      0      0     17 ]
</pre>

</div>
